/* Copyright (C) 1993, 1994, Russell Lang.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* gsgrab.rc */
#include "gsgrab.h"

GRABDLG DIALOG 6, 15, 251, 97
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GSgrab Setup"
{
 DEFPUSHBUTTON "OK", IDOK, 192, 36, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 192, 56, 50, 14
 PUSHBUTTON "Help", IDHELP, 192, 76, 50, 14
 EDITTEXT IDC_GSCOMMAND, 12, 18, 168, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Ghostscript Command:", -1, 8, 8, 80, 8
 LTEXT "Printer:", -1, 8, 36, 29, 8
 COMBOBOX IDC_PRINTER, 12, 46, 72, 60, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
 LTEXT "Resolution:", IDC_RESTEXT, 100, 36, 53, 8
 COMBOBOX IDC_RES, 108, 46, 72, 60, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
 LTEXT "Port:", -1, 8, 66, 60, 8
 COMBOBOX IDC_PORT, 12, 76, 71, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Interval:", -1, 100, 66, 60, 8
 EDITTEXT IDC_INTERVAL, 108, 76, 17, 12, WS_BORDER | WS_TABSTOP
 LTEXT "seconds", -1, 130, 78, 34, 8
 ICON GRABICON, GRABICON, 222, 8, 16, 16
}

ABOUTDLG DIALOG 21, 35, 256, 168
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About GSgrab"
{
 DEFPUSHBUTTON "&Ok", IDOK, 218, 5, 32, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 LTEXT "GSGRAB.EXE", -1, 32, 8, 64, 8
 RTEXT "Version:", -1, 86, 8, 32, 8
 LTEXT "", IDC_VERSION, 120, 8, 96, 8
 LTEXT "Grab PostScript from the file GSGRAB and", -1, 32, 16, 160, 8
 LTEXT "Copyright (C) 1994, Russell Lang.  All rights reserved.", -1, 7, 36, 240, 8
 LTEXT "This program is distributed with NO WARRANTY OF ANY KIND.  No author", -1, 7, 48, 240, 8
 LTEXT "or distributor accepts any responsibility for the consequences of using it,", -1, 7, 56, 240, 8
 LTEXT "or for whether it serves any particular purpose or works at all, unless he", -1, 7, 64, 240, 8
 LTEXT "or she says so in writing.  Refer to the GSview Free Public Licence ", -1, 7, 72, 240, 8
 LTEXT "(the \"Licence\") for full details.", -1, 7, 80, 240, 8
 LTEXT "Every copy of GSview must include a copy of the Licence, normally in a ", -1, 7, 92, 240, 8
 LTEXT "plain ASCII text file named LICENCE.  The Licence grants you the right ", -1, 7, 100, 240, 8
 LTEXT "to copy, modify and redistribute GSview, but only under certain conditions ", -1, 7, 108, 240, 8
 LTEXT "described in the Licence.  Among other things, the Licence requires that ", -1, 7, 116, 240, 8
 LTEXT "the copyright notice and this notice be preserved on all copies.", -1, 7, 124, 240, 8
 LTEXT "", -1, 7, 132, 240, 8
 LTEXT "Author: Russell Lang  (rjl@monu1.cc.monash.edu.au)", -1, 7, 146, 240, 8
 ICON GRABICON, GRABICON, 8, 8, 16, 16
 LTEXT "and print with Ghostscript", -1, 32, 24, 160, 8
}

GRABICON ICON 
BEGIN
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 80 00 00 00 00 80 00 00 80 80 00 00 00 00'
 '80 00 80 00 80 00 00 80 80 00 80 80 80 00 C0 C0'
 'C0 00 FF 00 00 00 00 FF 00 00 FF FF 00 00 00 00'
 'FF 00 FF 00 FF 00 00 FF FF 00 FF FF FF 00 EE EE'
 'E1 11 1E EE EE EE EE EE EE EE EE EE EE EE EE EE'
 'EE EE E1 EE EE EE EE EE EE EE EE EE EE EE EE EE'
 'EE 11 E1 E1 EE EE 11 E1 E1 E1 1E EE EE EE EE EE'
 'E1 EE 11 E1 EE E1 EE 11 E1 1E E1 EE EE EE EE EE'
 'E1 EE E1 E1 EE E1 EE E1 E1 EE E1 EE EE EE EE EE'
 'E1 EE E1 E1 EE EE 11 11 E1 EE E1 EE EE EE EE EE'
 'E1 EE 11 E1 1E E1 EE E1 E1 1E E1 EE EE EE EE EE'
 'EE 11 E1 E1 E1 EE 11 1E E1 E1 1E EE EE EE EE EE'
 'EE EE EE EE EE EE EE EE E1 EE EE EE EE EE EE EE'
 'EE EE EE EE EE EE EE EE E1 EE EE EE EE EE 00 00'
 '00 FF FF FF FF FF FF FF FF F0 00 00 00 00 00 00'
 '00 0F FF FF FF FF FF F0 F0 00 00 00 00 00 00 00'
 '00 00 FF FF FF FF FF FF 00 00 00 00 00 00 00 00'
 '00 00 0F FF FF FF FF FF F0 00 00 0F 00 00 00 FF'
 '00 0F F0 FF FF FF FF FF F0 0F FF FF F0 00 00 0F'
 'FF FF 0F FF FF FF FF FF 0F FF FF FF F0 00 0F FF'
 'FF FF F0 FF FF FF FF FF FF FF FF FF FF F0 00 00'
 'FF FF FF FF FF FF FF FF FF FF F0 00 FF 00 00 FF'
 'F0 00 FF FF FF FF FF FF FF FF F0 00 0F F0 00 F0'
 '00 00 FF FF FF FF FF FF FF FF 00 00 00 00 00 00'
 '00 00 0F FF FF FF FF FF F0 F0 00 00 00 00 00 00'
 '00 00 00 0F FF 0F F0 0F FF 00 00 00 00 00 00 00'
 '00 00 00 0F F0 FF F0 0F FF 00 00 00 00 00 00 00'
 '00 00 00 00 00 FF FF FF FF 00 00 00 00 00 00 00'
 '00 00 00 00 00 FF FF FF FF 00 00 00 00 00 00 00'
 '00 00 00 00 00 FF 0F 0F F0 00 00 00 00 00 00 00'
 '00 00 00 00 00 0F FF FF 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 0F FF F0 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 FF FF 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 0F FF F0 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 FF 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 F8 00 00 FF FC 00 01 FF FE 00'
 '07 EF CC 00 02 07 80 00 00 03 80 00 00 01 00 00'
 '00 00 80 00 00 01 80 00 00 30 86 00 00 79 DF 00'
 '00 FF FF 80 01 FF FF C0 01 FF FF E0 01 FF FF F8'
 '01 FF FF F8 03 FF FF F8 07 FF FF FC 0F FF FF F8'
 '1F FF FF F0 3F FF FF F8 7F FF FF FC FF FF'
END

/* This section gives the default entries for the [Devices] section of */
/* gsgrab.ini, used to specify available printer drivers. */
/* Each line contains a device name and available resolutions, separated  */
/* by commas.  Don't use spaces.  Each line must end with a '\0' */
/* The last line of this section must be "\0" */
/* Maximum line length is 128 */
IDR_DEVICES RCDATA
BEGIN
	"mswinprn,\0"   /* can't set resolution in device dialog box */
	"deskjet,300x300,150x150,100x100,75x75\0"
	"djet500,300x300,150x150,100x100,75x75\0"
	"laserjet,300x300,150x150,100x100,75x75\0"
	"ljetplus,300x300,150x150,100x100,75x75\0"
	"ljet2p,300x300,150x150,100x100,75x75\0"
	"ljet3,300x300,150x150,100x100,75x75\0"
	"ljet4,600x600,300x300,150x150,100x100,75x75\0"
	"cdeskjet,300x300,150x150,100x100,75x75\0"
	"cdjcolor,300x300,150x150,100x100,75x75\0"
	"cdjmono,300x300,150x150,100x100,75x75\0"
	"cdj550,300x300,150x150,100x100,75x75\0"
	"paintjet,180x180,90x90\0"
	"pjetxl,180x180,90x90\0"
	"epson,360x180,240x180,180x180,120x180,60x180,180x60,120x60,60x60,240x72,120x72,60x72\0"
	"eps9high,240x216,120x216,60x216\0"
	"ibmpro,360x180,240x180,180x180,120x180,60x180,180x60,120x60,60x60,240x72,120x72,60x72\0"
	"bj10e,360x360,360x180,180x360,180x180\0"
	"bmpmono,72,96\0"
	"bmp16,72,96\0"
	"bmp256,72,96\0"
	"bmp16m,72,96\0"
	"gifmono,72,96\0"
	"gif8,72,96\0"
	"\0"
END

