/* Copyright (C) 1993-2000, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* gvxlangh.rc */

/* these must be in ascending ID order */
STRINGTABLE
BEGIN
	GSVS(IDS_GSVIEW_COPYRIGHT1, GSVIEW_COPYRIGHT1)
	GSVS(IDS_GSVIEW_COPYRIGHT2, GSVIEW_COPYRIGHT2)
	GSVS(IDS_GSVIEW_COPYRIGHT3, GSVIEW_COPYRIGHT3)

	GSVS(IDS_GS_COPYRIGHT1, GS_COPYRIGHT1)
	GSVS(IDS_GS_COPYRIGHT2, GS_COPYRIGHT2)
	GSVS(IDS_GS_COPYRIGHT3, GS_COPYRIGHT3)

/* Buttons */
	GSVS(IDS_AAOK, AAOK)
	GSVS(IDS_AACANCEL, AACANCEL)
	GSVS(IDS_AAEDIT, AAEDIT)
	GSVS(IDS_AADEFAULTS, AADEFAULTS)
	GSVS(IDS_AAHELP, AAHELP)
	GSVS(IDS_AANEW, AANEW)
	GSVS(IDS_AATEST, AATEST)
	GSVS(IDS_AAYES, AAYES)
	GSVS(IDS_AANO, AANO)
	GSVS(IDS_AANEXTGT, AANEXTGT)
	GSVS(IDS_AABACKLT, AABACKLT)
	GSVS(IDS_AAFINISHGT, AAFINISHGT)
	GSVS(IDS_AAEXIT, AAEXIT)

/* About dialog box */
	GSVS(IDS_AAABOUTWIN, AAABOUTWIN)
	GSVS(IDS_AAABOUTPM, AAABOUTPM)
	GSVS(IDS_AAABOUTX11, AAABOUTX11)
	GSVS(IDS_AAABOUTGSV16SPL, AAABOUTGSV16SPL)
	GSVS(IDS_AAABOUTGSVIEWPRINT, AAABOUTGSVIEWPRINT)
	GSVS(IDS_AACOPY1, AACOPY1)
	GSVS(IDS_AACOPY2, AACOPY2)
	GSVS(IDS_AACOPY4, AACOPY4)
	GSVS(IDS_AACOPY5, AACOPY5)
	GSVS(IDS_AACOPY6, AACOPY6)
	GSVS(IDS_AACOPY7, AACOPY7)
	GSVS(IDS_AACOPY8, AACOPY8)
	GSVS(IDS_AACOPY9, AACOPY9)
	GSVS(IDS_AACOPY10, AACOPY10)
	GSVS(IDS_AACOPY11, AACOPY11)
	GSVS(IDS_AACOPY12, AACOPY12)
	GSVS(IDS_AACOPY13, AACOPY13)
	GSVS(IDS_AACOPY14, AACOPY14)
	GSVS(IDS_AACOPY15, AACOPY15)
	GSVS(IDS_AACOPY16, AACOPY16)
	GSVS(IDS_AACOPY17, AACOPY17)
	GSVS(IDS_AACOPY18, AACOPY18)
	GSVS(IDS_AACOPY19, AACOPY19)
	GSVS(IDS_AACOPY20, AACOPY20)
	GSVS(IDS_AACOPY21, AACOPY21)
	GSVS(IDS_AACOPY22, AACOPY22)

	GSVS(IDS_AAINPUT, AAINPUT)

/* DSC error dialog box */
	GSVS(IDS_AADSC, AADSC)
	GSVS(IDS_AAIGNOREALLDSC, AAIGNOREALLDSC)

/* Info dialog box */
	GSVS(IDS_AAINFO, AAINFO)
	GSVS(IDS_AAFILEC, AAFILEC)
	GSVS(IDS_AATYPEC, AATYPEC)
	GSVS(IDS_AATITLEC, AATITLEC)
	GSVS(IDS_AADATEC, AADATEC)
	GSVS(IDS_AABOUNDINGBOXC, AABOUNDINGBOXC)
	GSVS(IDS_AAORIENTATIONC, AAORIENTATIONC)
	GSVS(IDS_AADEFAULTMEDIAC, AADEFAULTMEDIAC)
	GSVS(IDS_AAPAGEORDERC, AAPAGEORDERC)
	GSVS(IDS_AAPAGESC, AAPAGESC)
	GSVS(IDS_AAPAGEC, AAPAGEC)
	GSVS(IDS_AABITMAPC, AABITMAPC)

/* Sounds dialog box */
	GSVS(IDS_AASOUNDS, AASOUNDS)
	GSVS(IDS_AAEVENTC, AAEVENTC)
	GSVS(IDS_AASOUNDC, AASOUNDC)

/* Select port, printer, page dialog boxes */
	GSVS(IDS_AASELECTPORT, AASELECTPORT)
	GSVS(IDS_AASELECTPRINTER, AASELECTPRINTER)
	GSVS(IDS_AAPRINTING, AAPRINTING)
	GSVS(IDS_AASELECTPAGE, AASELECTPAGE)
	GSVS(IDS_AASELECTPAGES, AASELECTPAGES)

/* Convert and Printer Setup dialog box */
	GSVS(IDS_AAPRINTERSETUP, AAPRINTERSETUP)
	GSVS(IDS_AADEVICEC, AADEVICEC)
	GSVS(IDS_AARESOLUTIONC, AARESOLUTIONC)
	GSVS(IDS_AAQUEUEC, AAQUEUEC)
	GSVS(IDS_AAPRINTTOFILE, AAPRINTTOFILE)
	GSVS(IDS_AAPSPRINTER, AAPSPRINTER)
	GSVS(IDS_AAOPTIONSC, AAOPTIONSC)
	GSVS(IDS_AAFIXEDMEDIA, AAFIXEDMEDIA)
	GSVS(IDS_AACONVERT, AACONVERT)
	GSVS(IDS_AAWINPRINTERSETTINGS, AAWINPRINTERSETTINGS)
	GSVS(IDS_AACOLOURS, AACOLOURS)
	GSVS(IDS_AABANDW, AABANDW)
	GSVS(IDS_AAGREY, AAGREY)
	GSVS(IDS_AAFULLCOLOUR, AAFULLCOLOUR)
	GSVS(IDS_AASELECTGSDEVICE, AASELECTGSDEVICE)

	GSVS(IDS_AAODDEVEN, AAODDEVEN)
	GSVS(IDS_AAIGNOREDSC, AAIGNOREDSC)
	GSVS(IDS_AAPAGES, AAPAGES)
	GSVS(IDS_AAFROMC, AAFROMC)
	GSVS(IDS_AATOC, AATOC)

	GSVS(IDS_AAADVANCED, AAADVANCED)
	GSVS(IDS_AAADVANCEDPSOPT, AAADVANCEDPSOPT)
	GSVS(IDS_AASENDCTRLDBEFORE, AASENDCTRLDBEFORE)
	GSVS(IDS_AASENDCTRLDAFTER, AASENDCTRLDAFTER)
	GSVS(IDS_AAPROLOGFILE, AAPROLOGFILE)
	GSVS(IDS_AAEPILOGFILE, AAEPILOGFILE)
	GSVS(IDS_AABROWSE, AABROWSE)

/* PS2EPS dialog box */
	GSVS(IDS_AAPSTOEPS, AAPSTOEPS)
	GSVS(IDS_AAPSTOEPSREAD, AAPSTOEPSREAD)
	GSVS(IDS_AAPSTOEPSAUTO, AAPSTOEPSAUTO)

	GSVS(IDS_AAAPROPERTIES, AAAPROPERTIES)
	GSVS(IDS_AAALLPAGES, AAALLPAGES)
	GSVS(IDS_AAODDPAGES, AAODDPAGES)
	GSVS(IDS_AAEVENPAGES, AAEVENPAGES)
	GSVS(IDS_AAALL, AAALL)
	GSVS(IDS_AAODD, AAODD)
	GSVS(IDS_AAEVEN, AAEVEN)
	GSVS(IDS_AAREVERSE, AAREVERSE)

/* Properties dialog box */
	GSVS(IDS_AAPROPERTIES, AAPROPERTIES)
	GSVS(IDS_AAPROPERTYC, AAPROPERTYC)
	GSVS(IDS_AAVALUEC, AAVALUEC)
	GSVS(IDS_AAPAGEOFFSETPT, AAPAGEOFFSETPT)
	GSVS(IDS_AAXC, AAXC)
	GSVS(IDS_AAYC, AAYC)

/* Edit Properties dialog box */
	GSVS(IDS_AAEDITPROPERTIES, AAEDITPROPERTIES)
	GSVS(IDS_AAPROPERTYTYPEC, AAPROPERTYTYPEC)
	GSVS(IDS_AANUMBER, AANUMBER)
	GSVS(IDS_AASTRING, AASTRING)
	GSVS(IDS_AANAMEC, AANAMEC)
	GSVS(IDS_AAVALUESC, AAVALUESC)
	GSVS(IDS_AADELETE, AADELETE)

	GSVS(IDS_AABOUNDINGBOX, AABOUNDINGBOX)

/* Advanced Configure dialog box */
	GSVS(IDS_AACONFIGUREGS, AACONFIGUREGS)
	GSVS(IDS_AAGHOSTSCRIPTDLLC, AAGHOSTSCRIPTDLLC)
	GSVS(IDS_AAGHOSTSCRIPTINCC, AAGHOSTSCRIPTINCC)
	GSVS(IDS_AAGHOSTSCRIPTOTHERC, AAGHOSTSCRIPTOTHERC)
	GSVS(IDS_AACOPYPRINTERDEF, AACOPYPRINTERDEF)
	GSVS(IDS_AAASSOCIATEPS, AAASSOCIATEPS)
	GSVS(IDS_AAASSOCIATEPDF, AAASSOCIATEPDF)
	GSVS(IDS_AACREATESTARTMENU, AACREATESTARTMENU)
	GSVS(IDS_AAGHOSTSCRIPTSOC, AAGHOSTSCRIPTSOC)
	GSVS(IDS_AAGHOSTSCRIPTEXEC, AAGHOSTSCRIPTEXEC)

/* Easy Configure dialog box */
	GSVS(IDS_AAEASYCONFIGURE, AAEASYCONFIGURE)
	GSVS(IDS_AAWHICHGS, AAWHICHGS)

/* Download Ghostscript dialog box */
	GSVS(IDS_AADOWNLOADGS, AADOWNLOADGS)
	GSVS(IDS_AADOWNLOADNOW, AADOWNLOADNOW)
	GSVS(IDS_AAGSNOTFOUND, AAGSNOTFOUND)

	GSVS(IDS_AAGSMESSWIN, AAGSMESSWIN)
	GSVS(IDS_AAGSMESSPM, AAGSMESSPM)
	GSVS(IDS_AAGSMESSX11, AAGSMESSX11)
	GSVS(IDS_AACOPY, AACOPY)

/* Display Settings dialog box */
	GSVS(IDS_AADISPLAYSETTINGS, AADISPLAYSETTINGS)
	GSVS(IDS_AARESOLUTION, AARESOLUTION)
	GSVS(IDS_AAZOOMRESOLUTION, AAZOOMRESOLUTION)
	GSVS(IDS_AADEPTH, AADEPTH)
	GSVS(IDS_AATEXTALPHA, AATEXTALPHA)
	GSVS(IDS_AAGRAPHICSALPHA, AAGRAPHICSALPHA)
	GSVS(IDS_AADRAWMETHOD, AADRAWMETHOD)
	GSVS(IDS_AADPI, AADPI)
	GSVS(IDS_AABPP, AABPP)
	GSVS(IDS_AABITS, AABITS)

/* Measure and custom units dialog box */
	GSVS(IDS_AAPT, AAPT)
	GSVS(IDS_AAMM, AAMM)
	GSVS(IDS_AAINCH, AAINCH)
	GSVS(IDS_AACUSTOM, AACUSTOM)
	GSVS(IDS_AAMEASURE, AAMEASURE)
	GSVS(IDS_AAUNITC, AAUNITC)
	GSVS(IDS_AASTARTC, AASTARTC)
	GSVS(IDS_AAFINISHC, AAFINISHC)
	GSVS(IDS_AADELTAC, AADELTAC)
	GSVS(IDS_AALENGTHC, AALENGTHC)
	GSVS(IDS_AACHANGE, AACHANGE)
	GSVS(IDS_AACALCXFORM, AACALCXFORM)
	GSVS(IDS_AATRANSLATE, AATRANSLATE)
	GSVS(IDS_AAROTATE, AAROTATE)
	GSVS(IDS_AASCALE, AASCALE)
	GSVS(IDS_AAINITMATRIX, AAINITMATRIX)
	GSVS(IDS_AAINVERTMATRIX, AAINVERTMATRIX)

/* PS to Edit dialog box */
	GSVS(IDS_AAPSTOEDIT, AAPSTOEDIT)
	GSVS(IDS_AAFORMATC, AAFORMATC)
	GSVS(IDS_AADRAWTASP, AADRAWTASP)
	GSVS(IDS_AAMAPTOLATIN1, AAMAPTOLATIN1)
	GSVS(IDS_AAFLATNESSC, AAFLATNESSC)
	GSVS(IDS_AADEFAULTFONTC, AADEFAULTFONTC)
	GSVS(IDS_AADRIVEROPTIONSC, AADRIVEROPTIONSC)


/* Installation program */
	GSVS(IDS_AAINSTALL1, AAINSTALL1)
	GSVS(IDS_AAINSTALLINTRO1, AAINSTALLINTRO1)
	GSVS(IDS_AAINSTALLINTRO2, AAINSTALLINTRO2)
	GSVS(IDS_AAINSTALLINTRO3, AAINSTALLINTRO3)
	GSVS(IDS_AAINSTALLCOPYRIGHT1, AAINSTALLCOPYRIGHT1)
	GSVS(IDS_AAINSTALLCOPYRIGHT2, AAINSTALLCOPYRIGHT2)
	GSVS(IDS_AAINSTALLCOPYRIGHT3, AAINSTALLCOPYRIGHT3)
	GSVS(IDS_AAINSTALLGSVER1, AAINSTALLGSVER1)
	GSVS(IDS_AAINSTALLGSVER2, AAINSTALLGSVER2)
	GSVS(IDS_AAINSTALLGSVER3, AAINSTALLGSVER3)
	GSVS(IDS_AAINSTALLGSVER4, AAINSTALLGSVER4)
	GSVS(IDS_AAINSTALLDIR1, AAINSTALLDIR1)
	GSVS(IDS_AAINSTALLDIR2, AAINSTALLDIR2)
	GSVS(IDS_AAINSTALLDIR3, AAINSTALLDIR3)
	GSVS(IDS_AAINSTALLMKDIR1, AAINSTALLMKDIR1)
	GSVS(IDS_AAINSTALLMKDIR2, AAINSTALLMKDIR2)
	GSVS(IDS_AAINSTALLMISSING1, AAINSTALLMISSING1)
	GSVS(IDS_AAINSTALLMISSING2, AAINSTALLMISSING2)
	GSVS(IDS_AAINSTALLCONFIG1, AAINSTALLCONFIG1)
	GSVS(IDS_AAINSTALLCONFIG2, AAINSTALLCONFIG2)
	GSVS(IDS_AAINSTALLCONFIG3, AAINSTALLCONFIG3)
	GSVS(IDS_AAINSTALLCONFIG4, AAINSTALLCONFIG4)
	GSVS(IDS_AAINSTALLCONFIG5, AAINSTALLCONFIG5)
	GSVS(IDS_AAINSTALLCONFIGPM1, AAINSTALLCONFIGPM1)
	GSVS(IDS_AAINSTALLCONFIGPM2, AAINSTALLCONFIGPM2)
	GSVS(IDS_AAINSTALLCONFIGPM3, AAINSTALLCONFIGPM3)
	GSVS(IDS_AAINSTALLCONFIGPM4, AAINSTALLCONFIGPM4)
	GSVS(IDS_AAINSTALLCONFIGPM5, AAINSTALLCONFIGPM5)
	GSVS(IDS_AAINSTALLFINISH, AAINSTALLFINISH)
	GSVS(IDS_AAINSTALLUNZIP1, AAINSTALLUNZIP1)
	GSVS(IDS_AADIRNOTEXIST, AADIRNOTEXIST)
	GSVS(IDS_AAMKDIRFAIL, AAMKDIRFAIL)
	GSVS(IDS_AABETAWARN, AABETAWARN)
	GSVS(IDS_AAINSTALLOK, AAINSTALLOK)
	GSVS(IDS_AAINSTALLFAILED, AAINSTALLFAILED)
	GSVS(IDS_AAPROGMANGROUP1, AAPROGMANGROUP1)
	GSVS(IDS_AAPROGMANGROUP2, AAPROGMANGROUP2)
	GSVS(IDS_AAPROGMANGROUP3, AAPROGMANGROUP3)
	GSVS(IDS_AAPROGMANGROUP4, AAPROGMANGROUP4)
	GSVS(IDS_AAPROGMANGROUP5, AAPROGMANGROUP5)
	GSVS(IDS_AAPROGMANGROUP6, AAPROGMANGROUP6)
	GSVS(IDS_AAPMOBJECT1, AAPMOBJECT1)
	GSVS(IDS_AAPMOBJECT2, AAPMOBJECT2)
	GSVS(IDS_AADONEBAK, AADONEBAK)
	GSVS(IDS_AACANTLOAD, AACANTLOAD)
	GSVS(IDS_AACANTCREATETEMPFILE, AACANTCREATETEMPFILE)
	GSVS(IDS_AACANTOPENREAD, AACANTOPENREAD)
	GSVS(IDS_AACANTOPENWRITE, AACANTOPENWRITE)
	GSVS(IDS_AAERRORRENAME, AAERRORRENAME)
	GSVS(IDS_AANODDEPROGMAN, AANODDEPROGMAN)
	GSVS(IDS_AAINSERTDISK, AAINSERTDISK)
	GSVS(IDS_AAZIPNOTFOUND, AAZIPNOTFOUND)
	GSVS(IDS_AAUNZIPCANCELLED, AAUNZIPCANCELLED)
	GSVS(IDS_AACANTALLOCBUF, AACANTALLOCBUF)
	GSVS(IDS_AAPROGRAMOBJECTFAILED, AAPROGRAMOBJECTFAILED)
	GSVS(IDS_AAUNINSTALLTITLE, AAUNINSTALLTITLE)
	GSVS(IDS_AAUNINSTALLITEM, AAUNINSTALLITEM)

/* setup program */
	GSVS(IDS_AAINSTALLSPACE, AAINSTALLSPACE)
	GSVS(IDS_AAGSVIEWREQUIRES, AAGSVIEWREQUIRES)
	GSVS(IDS_AAVIEWREADMEDETAILS, AAVIEWREADMEDETAILS)
	GSVS(IDS_AACOPYRIGHTNOTICE, AACOPYRIGHTNOTICE)
	GSVS(IDS_AASELECTGSVIEWDIR, AASELECTGSVIEWDIR)
	GSVS(IDS_AABROWSEE, AABROWSEE)
	GSVS(IDS_AAGSVIEWADDSTARTMENU, AAGSVIEWADDSTARTMENU)
	GSVS(IDS_AACREATEFOLDER, AACREATEFOLDER)
	GSVS(IDS_AAALLUSERS, AAALLUSERS)
	GSVS(IDS_AASELECTFOLDER, AASELECTFOLDER)
	GSVS(IDS_AAFOLDER, AAFOLDER)
	GSVS(IDS_AADESTFOLDER, AADESTFOLDER)
	GSVS(IDS_AAVIEWREADME, AAVIEWREADME)

/* configure */
	GSVS(IDS_AAGSVIEWC, AAGSVIEWC)
	GSVS(IDS_AAALADDINGSC, AAALADDINGSC)
	GSVS(IDS_AACFG1, AACFG1)
	GSVS(IDS_AACFG10, AACFG10)
	GSVS(IDS_AACFG11, AACFG11)
	GSVS(IDS_AACFG20, AACFG20)
	GSVS(IDS_AACFG21, AACFG21)
	GSVS(IDS_AACFG22, AACFG22)
	GSVS(IDS_AACFG23, AACFG23)
	GSVS(IDS_AACFG30, AACFG30)
	GSVS(IDS_AACFG31, AACFG31)
	GSVS(IDS_AACFG32, AACFG32)
	GSVS(IDS_AACFG33, AACFG33)
	GSVS(IDS_AACFG40, AACFG40)
	GSVS(IDS_AACFG43, AACFG43)
	GSVS(IDS_AACFG41, AACFG41)
	GSVS(IDS_AACFG42, AACFG42)
	GSVS(IDS_AACFG50, AACFG50)
	GSVS(IDS_AACFG51, AACFG51)
	GSVS(IDS_AACFG52, AACFG52)
	GSVS(IDS_AACFG53, AACFG53)
	GSVS(IDS_AACFG54, AACFG54)
	GSVS(IDS_AACFG60, AACFG60)
	GSVS(IDS_AACFG70, AACFG70)
	GSVS(IDS_AACFG72, AACFG72)
	GSVS(IDS_AACFG73, AACFG73)
	GSVS(IDS_AACFG74, AACFG74)

/* For gvXgs.rc */
	GSVS(IDS_AAGSVIEWPRINT, AAGSVIEWPRINT)
	GSVS(IDS_AAGSVIEWPRINTUSAGE, AAGSVIEWPRINTUSAGE)
	GSVS(IDS_AAMFILE, AAMFILE)
	GSVS(IDS_AAMSAVEAS, AAMSAVEAS)
	GSVS(IDS_AAMEXIT, AAMEXIT)
	GSVS(IDS_AAMEDIT, AAMEDIT)
	GSVS(IDS_AAMCOPY, AAMCOPY)
	GSVS(IDS_AAMHELP, AAMHELP)
	GSVS(IDS_AAMABOUT, AAMABOUT)

/* Language changing */
	GSVS(IDS_AASELECTLANGUAGE, AASELECTLANGUAGE)
	GSVS(IDS_AAENGLISH, "English")
	GSVS(IDS_AACATALAN, "Catalan")
	GSVS(IDS_AADEUTSCH, "Deutsch")
	GSVS(IDS_AAFRANCAIS, "Français")	
	GSVS(IDS_AAITALIANO, "Italiano")
	GSVS(IDS_AAESPANOL, "Español")
	GSVS(IDS_AAGREEK, "Greek")
	GSVS(IDS_AANEDERLANDS, "Nederlands")
	GSVS(IDS_AARUSSIAN, "Russian")
	GSVS(IDS_AASVENSKA, "Svenska")
	GSVS(IDS_AASLOVAK, "Slovak")

	GSVS(IDS_WINHELPFILE, WINHELPFILE)
END
