/* Copyright (C) 1993-2000, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* it\gvclang.rc */
/* Common Italian language resources */

/* button help */
STRINGTABLE
BEGIN
	IDM_OPEN, "Apri..."
	IDM_PRINT, "Stampa..."
	IDM_INFO, "Informazioni..."
	IDM_HELPCONTENT, "Guida di GSview"
	IDM_GOTO, "Vai a Pagina..."
	IDM_NEXT, "Pagina Successiva"
	IDM_PREV, "Pagina Precedente"
	IDM_NEXTSKIP, "Salta avanti di 5 pagine"
	IDM_PREVSKIP, "Salta indietro di 5 pagine"
	IDM_MAGPLUS, "Aumenta Risoluzione"
	IDM_MAGMINUS, "Diminuisci Risoluzione"
	IDM_TEXTFIND, "Cerca..."
	IDM_TEXTFINDNEXT, "Cerca Successivo"
END


STRINGTABLE
BEGIN
	IDS_FILE, "File: "
	IDS_NOFILE, "Nessun File"
	IDS_PAGE, "Pagina: "
	IDS_NOPAGE, "Nessuna numerazione di pagina disponibile"
	IDS_PAGESPECIAL, "L'ordinamento di pagina è Speciale. Le pagine non possono essere riordinate in modo preciso.  Vedere nella Guida l'argomento 'Problemi comuni'.  Continuare?"
	IDS_LANDSCAPE, "Orizzontale"
	IDS_PORTRAIT, "Verticale"
	IDS_ASCEND, "Ascendente"
	IDS_DESCEND, "Discendente"
	IDS_SPECIAL, "Speciale"
	IDS_PAGEINFO, "Pagina: \042%s\042  %d di %d"
	IDS_LINKPAGE, "Collegamento alla pagina %d"
	IDS_DEFAULT, "Predefinito"
	IDS_NOTDEFTAG, "[Non definito]"
	IDS_EPSF, "EPS"
	IDS_EPSI, "EPS con Anteprima Interchange"
	IDS_EPST, "EPS con Anteprima TIFF"
	IDS_EPSW, "EPS con Anteprima Metafile"
	IDS_DSC, "DSC"
	IDS_NOTDSC, "Nessun commento DSC"
	IDS_PDF, "Portable Document Format"
	IDS_IGNOREDSC, "Ignora commenti DSC"
	IDS_CTRLD, "Ctrl-D seguito da "
	IDS_PJL, "PJL seguito da "
	IDS_ZOOMED, " Zoomato"
END

STRINGTABLE
BEGIN
	IDS_OUTPUTFILE, "Nome del file di Output"
	IDS_PRINTINGALL, "Nessun commento DSC\nStampa tutte le pagine"
	IDS_PRINTFILE, "Stampa su File"
	IDS_SELECTPAGE, "Seleziona Pagina"
	IDS_SELECTPAGES, "Seleziona Pagine"
	IDS_NOTOPEN, "Nessun documento aperto"
	IDS_CANNOTRUN, "Non posso eseguire "
	IDS_TOOLONG, "Linea di comando troppo lunga: "
	IDS_NOMORE, "Non ci sono più pagine"
/* OLD
	IDS_GSCOMMAND, "Comando Ghostscript ?"
*/
	IDS_NOZOOM, "E' necessario visualizzare la pagina prima effettuare lo zoom"
	IDS_USERWIDTH, "Impostare le Unità di misura della larghezza a 1/72 di pollice ?"
	IDS_USERHEIGHT, "Impostare le Unità di misura dell'altezza a 1/72 di pollice ?"
	IDS_BADEPS, "Problema nella creazione del file EPS"
	IDS_NOPREVIEW, "Nessun DOS EPS file oppure\nNessuna anteprima binaria"
	IDS_NOTDFNAME, "Non è possibile usare il nome di un documento aperto"
	IDS_NOTEMP, "Non è possibile aprire files temporanei.\nLa cartella potrebbe essere di sola lettura.\nLa variabile di ambiente TEMP potrebbe non essere impostata."
	IDS_CANCELDONE, "%d%% fatto"
	IDS_BADCLI, "Errata opzione della linea di comando: "
	IDS_DUPOPT, "E' possibile specificare solo una delle opzioni /F /P /S .  Errore in: %s"
	IDS_TEXTFIND, "Trova testo ?"
	IDS_TEXTNOTFIND, "Testo non trovato"
	IDS_PRINTPDFPS "Non è possibile stampare file PDF in una stampante PostScript.  Usare File | Estrai"
	IDS_NOPDFQUICKTEXT "Non è possibile estrarre o trovare velocemente del testo in un file PDF.  Usare Opzioni | PStoText"
	IDS_BAD_DOSEPS_HEADER "La testata DOS EPS è errata.  Ignora commenti DSC."
	IDS_PROBABLY_PCL "Questo somiglia di più al PCL, un linguaggio progettato per stampanti HP LaserJet o DeskJet.  Sei sicuro che si tratti di PostScript?"
	IDS_BUSYPRINTING "GSview è occupato nella stampa.  Premere Cancella per attendere finchè GSview ha terminato."
END

STRINGTABLE
BEGIN
	/* sound type types*/
	IDS_SOUNDNAME, "File di suono"
	IDS_SNDPAGE, "Pagina di Output"
	IDS_SNDNOPAGE, "Nessuna Pagina"
	IDS_SNDNONUMBER, "Nessuna Numerazione"
	IDS_SNDNOTOPEN, "Non Aperto"
	IDS_SNDERROR, "Errore"
	IDS_SNDTIMEOUT,	"Intervallo"
	IDS_SNDSTART, "Inizia"
	IDS_SNDEXIT, "Esci"
	IDS_SNDBUSY, "Occupato"
	IDS_NONE, "<Nessuno>"
	IDS_SPKR, "<Beep Altoparlante>"
END

STRINGTABLE
BEGIN
	/* help topics - these need to match keywords in XX\gvclang.txt */
	IDS_TOPICROOT,  "Veduta generale"
	IDS_TOPICOPEN,  "Apri"
	IDS_TOPICPRINT, "Stampa"
	IDS_TOPICPROP, "Proprietà"
	IDS_TOPICEDITPROP, "Modifica Proprietà"
	IDS_TOPICCONVERT, "Converti"
	IDS_TOPICCLIP, "Appunti"
	IDS_TOPICPREVIEW, "Anteprima EPS"
	IDS_TOPICSOUND, "Suoni"
	IDS_TOPICDSET, "Impostazioni di visualizzazione"
	IDS_TOPICMEDIA, "Carta"
	IDS_TOPICPSTOEPS, "Converti PS in EPS"
	IDS_TOPICGOTO, "Seleziona Pagina"
	IDS_TOPICINSTALL, "Installazione"
	IDS_TOPICTEXT, "Estrai e Cerca testo"
	IDS_TOPICKEYS, "Tasti"
	IDS_TOPICMESS, "Mostra messaggi"
	IDS_TOPICSPOOL, "Spooler"
	IDS_TOPICZLIB, "zlib"
	IDS_TOPICBZIP2, "bzip2"
	IDS_TOPICPSTOEDIT, "Converti in formato vettoriale"
	IDS_TOPICMEASURE, "Misure"
	IDS_TOPICEASYCFG "Configurazione Facile"
	IDS_TOPICADVANCEDCFG "Configurazione Avanzata"
	IDS_TOPICDOWNLOAD "Download Ghostscript"
	IDS_TOPICDSCWARN "Avvisi DSC"
	IDS_TOPICREG "Registrazione"
END

STRINGTABLE
BEGIN
	IDS_BBPROMPT,  "Cliccare a sinistra"
	IDS_BBPROMPT1, "Cliccare sotto"
	IDS_BBPROMPT2, "Cliccare a destra"
	IDS_BBPROMPT3, "Cliccare sopra"
	IDS_EPSONEPAGE, "Un file EPS deve essere un documento formato da una singola pagina. \nVedere nella Guida l'argomento 'Converti PS in EPS'"
	IDS_EPSQPAGES, "E' un documento di una singola pagina ?"
	IDS_EPSNOBBOX, "Non posso ottenere i Limiti del Box"
	IDS_EPSUSERINVALID, "Il file di anteprima non è un file TIFF o Windows Metafile"
	IDS_EPSUSERTITLE, "Apri file di anteprima"
	IDS_EPS_OFF_PAGE, "I limiti del box EPS sono completamente fuori dalla pagina.  Suggeriamo di usare 'Opzioni | Ritaglia EPS'"
	IDS_MUSTUSEPORTRAIT, "Deve essere usato l'orientamento verticale."
END

STRINGTABLE
BEGIN
	IDS_UNITPT, AAPT
	IDS_UNITMM, AAMM
	IDS_UNITINCH, AAINCH
	IDS_UNITCUSTOM, AACUSTOM
 	IDS_INVALIDNUMBER, "Numero non valido"
 	IDS_CANTINVERT, "Non posso invertire la matrice"
END

STRINGTABLE
BEGIN
	/* wait messages */
	IDS_WAIT, "Attendi"
	IDS_WAITREAD,  "Lettura in corso..."
	IDS_WAITWRITE,  "Scrittura in corso..."
	IDS_WAITDRAW, "Disegno in corso..."
	IDS_WAITDRAW_PC, "Disegno %d%% in corso"
	IDS_WAITGSOPEN, "Apertura Ghostscript in corso..."
	IDS_WAITGSCLOSE,  "Chiusura Ghostscript in corso..."
	IDS_WAITPRINT,  "Stampa in corso..."
	IDS_WAITSEARCH,  "Ricerca in corso..."
	IDS_WAITTEXT, "Estrazione testo %d%%"
END

STRINGTABLE
BEGIN
	/* debug messages */
	IDS_DEBUG_DFISLOCKED, "dfreopen: il file è bloccato"
	IDS_DEBUG_DFISOPEN, "dfreopen: il file è già aperto"
	IDS_DEBUG_DFISMISSING, "dfreopen: il file è mancante"
	IDS_DEBUG_DFCHANGED, "dfreopen: il file è cambiato"
	IDS_DEBUG_DFISCLOSED, "dfclose: il file è già chiuso"
END

STRINGTABLE
BEGIN
	IDS_PROCESS_GSLOAD_FAIL, "Non posso caricare la DLL di Ghostscript"
	IDS_PROCESS_INIT_FAIL, "gs_process: gsdll.init fallito"
	IDS_PROCESS_VIEWER_FAIL, "gs_process: '(viewer.ps) run' fallito"
	IDS_PROCESS_EXECUTE_FAIL, "gs_process: gsdll.execute_cont fallito"
END

STRINGTABLE
BEGIN
	/* PDF messages */
	IDS_PDFNOPAGE, "Numero di pagine sconosciuto nel file PDF\nDeve essere prima visualizzato il file" 
	IDS_PDFEXTRACTALL, "Numero di pagine sconosciuto nel file PDF\nEstrae o stampa tutte le pagine"
	IDS_USEPDFWRITE, "Per estrarre pagine da un file PFD, Stampa su File usando la periferica pdfwrite oppure pswrite."
END

STRINGTABLE
BEGIN
IDS_LARGEMEDIA, "Attenzione: la dimensione della carta è più ampia di 2 metri o più alta di 2 metri.  Per favore cerca 'Carta | Impostazioni dell'utente'"
	IDS_NOTIMPLEMENTED, "Non implementato"
	IDS_NOLINKTARGET, "Oggetto sconosciuto per il collegamento"
	IDS_PARSEERROR, "Errore nell'analisi della linea di comando"
	IDS_ZLIB_FAIL, "Errore nel caricamento della DLL zlib.  Premi il pulsante OK per avere un aiuto dalla Guida."
	IDS_BZIP2_FAIL, "Errore nel caricamento della DLL bzip2.  Premi il pulsante OK per avere un aiuto dalla Guida."
END

STRINGTABLE
BEGIN
	IDS_BETAEXPIRED, "Questa copia di test BETA di GSview è scaduta.  Vedi http://www.cs.wisc.edu/~ghost/ per dettagli su come ottenere la versione corrente di GSview"
	IDS_BETAWARN, AABETAWARN
	IDS_NOPRINTERINI, "Non posso aprire printer.ini"
	IDS_NOINI, "Non posso aprire il file INI"
	IDS_NEEDTEMP, "Deve essere impostata la variabile di ambiente TEMP in una cartella con permesso di scrittura.  Senza questo, GSview e Aladdin Ghostscript non sono abilitati alla stampa"
	IDS_GSNOTINSTALLED, "Non è stato installato Ghostscript.  Per favore leggere il file GSview Readme.htm."
	IDS_GSLIBNOTINSTALLED, "Non sono stati installati i files di libreria di Ghostscript.  Per favore leggere il file GSview Readme.htm."
	IDS_PROGRAMOBJECTFAILED, AAPROGRAMOBJECTFAILED
	IDS_NOPROGMAN, AANODDEPROGMAN
	IDS_WRONGEMX, "E' presente emx %s.\rE' necessario emx %s o successivo.\rPM GSview non viene eseguito correttamente."
	IDS_GSVIEWVERSION, GSVIEW_DOT_VERSION
	IDS_CFG73, AACFG73
	IDS_CFG74, AACFG74
	IDS_PROGMANGROUP4 AAPROGMANGROUP4
END

STRINGTABLE
BEGIN
	IDS_DSC_INFO "Informazione DSC"
	IDS_DSC_WARN "Avviso DSC"
	IDS_DSC_ERROR "Errore DSC"
        IDS_DSC_LINEFMT "%.40s alla linea %d:"
	IDS_INVALIDREG "Nome o Numero di Registration non valido"
	IDS_UNREGISTERED "Non registrato"
END

STRINGTABLE
BEGIN
	IDS_PRN_PRINTMETHOD, "Metodo di Stampa"
	IDS_PRN_WINDOWSGDI "Stampante GDI di Windows"
	IDS_PRN_GSDEVICE "Device di Ghostscript"
	IDS_PRN_PSPRINTER AAPSPRINTER		// "Stampante PostScript"
	IDS_PRN_SETTINGS "Impostazioni"
	IDS_PRN_HELP AAHELP			// "Help in linea"
	IDS_PRN_SELECTPAGES "Seleziona Pagine"
END

/* These are in resources because STRINGTABLE entries are */
/* limited to 256 bytes */

GSVIEW_RCDATA(CDSC_RESOURCE_BBOX)
BEGIN
"Questa linea non è corretta.\012"
"I limiti del box devono avere le ccordinate espresse in numeri interi,\012"
"non decimali. Un limite del box espresso in numeri decimali dovrebbe\012"
"essere specificando usando %%HiResBoundingBox:\012"
"Un %%BoundingBox: dovrebbe essere impostato con un valore espresso in un numero intero.\012"
"\012"
"'OK' farà in modo che le coordinate siano convertite in numeri interi\012"
"tramite un arrotondamento.\012"
"'Cancella' farà in modo che questa linea sia ignorata.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_EARLY_TRAILER)
BEGIN
"Il 'trailer' è solitamente alla fine del documento,\012"
"ma questa linea è stata trovata a più di 32k bytes dalla fine\012"
"del file.  I 'Trailers' non hanno normalmente questa lunghezza.\012"
"E' molto probabile che un altro file PostScript sia stato incluso\012"
"senza essere stato racchiuso in %%BeginDocument / %%EndDocument.\012"
"\012"
"'OK' farà in modo che la riga sia ritenuta come parte di un file incluso.\012"
"'Cancella' farà in modo che la riga sia ritenuta come il 'trailer'.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_EARLY_EOF)
BEGIN
"Questa linea si trova normalmente alla fine del documento,\012"
"ma è stata trovata a più di 100 bytes dalla fine\012"
"del file.\012"
"E' molto probabile che un altro file PostScript sia stato incluso\012"
"senza essere stato racchiuso in %%BeginDocument / %%EndDocument.\012"
"\012"
"'OK' farà in modo che la riga sia ritenuta come parte di un file incluso.\012"
"'Cancella' farà in modo che la riga sia ritenuta come parte del 'trailer'.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_PAGE_IN_TRAILER)
BEGIN
"Questa linea %%Page: si trova nel 'trailer' e questo non è corretto.\012"
"I file EPS dovrebbero essere incapsulati in %%BeginDocument / %%EndDocument.\012"
"E' possibile che un file EPS sia stato incapsulato non correttamente,\012"
"e quello sia stato confuso dal %%Trailer in un file EPS.\012"
"\012"
"'OK' per processare pagine ulteriori.\012"
"'Cancella' per ignorare questo commento di pagina.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_PAGE_ORDINAL)
BEGIN
"Questa linea non è corretta.\012"
"I due argomenti dovrebbero essere una etichetta ed un numero ordinale.\012"
"Il numero ordinale dovrebbe essere 1 per la prima pagina e dovrebbe\012"
"incrementare di 1 per ogni pagina seguente.\012"
"Il numero ordinale di pagina è mancante oppure non in sequenza.\012"
"\012"
"E' probabile che questa linea sia parte di un file incluso che\012"
"non è stato incapsulato in %%BeginDocument / %%EndDocument.\012"
"\012"
"'OK' farà in modo che questa pagina sia ignorata, ritenendola parte di un\012"
"file EPS incapsulato scorrettamente.\012"
"'Cancella' farà in modo che questa pagina sia considerata valida\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_PAGES_WRONG)
BEGIN
"%%Pages: non corrisponde al numero di %%Page:\012"
"\012"
"'OK' farà in modo che il conteggio delle pagine venga fatto corrispondere\012"
"al numero dei commenti %%Page: trovati.\012"
"'Cancella' farà in modo che il conteggio delle pagine sia impostato in base al %%Pages:\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_EPS_NO_BBOX)
BEGIN
"Questo file EPS manca del %%BoundingBox: richiesto.\012"
"Vedere l'help di GSview per informazioni su come aggiungere/modificare i\012"
"limiti del box.\012"
"\012"
"'OK' farà in modo che questo file sia ritenuto un EPS.\012"
"'Cancella' farà in modo che questo file non sia considerato un EPS.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_EPS_PAGES)
BEGIN
"I files EPS devono avere 0 oppure 1 pagina.  Questo file 'EPS' ne ha\012"
"di più e pertanto non è un file EPS.\012"
"Non è possibile usare `Stampa Su` `Encapsulated PostScript File` per\012"
"la stampa di file multipagina.  Il metodo corretto è di connettere\012"
"la stampante a FILE: oppure selezionare 'Stampa su File'.\012"
"\012"
"'OK' farà in modo che questo file sia ritenuto un EPS.\012"
"'Cancella' farà in modo che questo file non sia considerato un EPS.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_NO_MEDIA)
BEGIN
"La carta è stata impostata con %%DocumentMedia:, ma nessuna carta predefinita\012"
"è stata impostata con %%PageMedia:.\012"
"\012"
"'OK' farà in modo che la carta predefinita sia impostata con la prima voce dell'elenco.\012"
"'Cancella' non imposterà nessuna carta predefinita.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_ATEND)
BEGIN
"Questa linea non è corretta.\012"
"Per rimandare un valore, deve essere usato '(atend)' e non 'atend'\012"
"\012"
"'OK' sarà ritenuto che si intendesse usare un (atend).\012"
"'Cancella' ignorerà questa linea.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_DUP_COMMENT)
BEGIN
"Questo commento è duplicato in testata e pertanto è superfluo.\012"
"La prima occorrenza trovata della linea di testata prende la precedenza.\012"
"\012"
"'OK' oppure 'Cancella' ignoreranno in ogni caso la linea duplicata.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_DUP_TRAILER)
BEGIN
"Questo commento è duplicato nel 'trailer' e pertanto è superfluo.\012"
"L'ultima occorrenza trovata della linea del 'trailer' prende la precedenza.\012"
"\012"
"'OK' oppure 'Cancella' ignoreranno in ogni caso la linea duplicata.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_BEGIN_END)
BEGIN
"Il numero dei commenti Begin e End non corrisponde.\012"
"\012"
"'OK' oppure 'Cancella' ignoreranno in ogni caso questo accoppiamento inadeguato.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_BAD_SECTION)
BEGIN
"Questa linea è scorretta perchè non dovrebbe comparire all'interno\012"
"di una pagina.  Questo indica probabilmente che un file EPS\012"
"è stato incapsulato scorrettamente.  Questa linea sarà ignorata.\012"
"\012"
"'OK' oppure 'Cancella' ignoreranno in ogni caso questa linea.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_LONG_LINE)
BEGIN
"\012\012Le linee nei documenti DSC devono essere più corte di 255 caratteri.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_INCORRECT_USAGE)
BEGIN
"Questa linea di commento DSC non è corretta.\012"
"Si prega di fare riferimento alle specifiche DSC.\012"
"\012"
"'OK' oppure 'Cancella' ignoreranno in ogni caso questo accoppiamento inadeguato.\012"
"\0"
END

