/* Copyright (C) 1993-2000, Ghostgum Software Pty Ltd.  All rights reserved.

  This file is part of GSview.

  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence
  (the "Licence") for full details.

  Every copy of GSview must include a copy of the Licence, normally in a
  plain ASCII text file named LICENCE.  The Licence grants you the right
  to copy, modify and redistribute GSview, but only under certain conditions
  described in the Licence.  Among other things, the Licence requires that
  the copyright notice and this notice be preserved on all copies.
*/

/* de\gvclang.rc */
/* Common German language resources */

#ifndef GSVS
#define GSVS(x,y) x,y
#endif

/* button help */
STRINGTABLE
BEGIN
	GSVS(IDM_OPEN, "Öffnen...")
	GSVS(IDM_INFO, "Info...")
	GSVS(IDM_PRINT, "Drucken...")
	GSVS(IDM_TEXTFIND, "Suche...")
	GSVS(IDM_TEXTFINDNEXT, "Suche nächsten")
	GSVS(IDM_NEXT, "Nächste Seite")
	GSVS(IDM_NEXTSKIP, "Springe 5 Seiten vorwärts")
	GSVS(IDM_PREV, "Vorherige Seite")
	GSVS(IDM_PREVSKIP, "Springe 5 Seiten rückwärts")
	GSVS(IDM_GOTO, "Gehe zu Seite...")
	GSVS(IDM_GOBACK, "Go Back")	/* ENGLISH */
	GSVS(IDM_GOFWD, "Go Forward")	/* ENGLISH */
	GSVS(IDM_MAGPLUS, "Erhöhe Auflösung")
	GSVS(IDM_MAGMINUS, "Verringere Auflösung")
	GSVS(IDM_HELPCONTENT, "Hilfe")
END


STRINGTABLE
BEGIN
	GSVS(IDS_FILE, "Datei: ")
	GSVS(IDS_NOFILE, "Keine Datei")
	GSVS(IDS_PAGE, "Seite: ")
	GSVS(IDS_NOPAGE, "Keine Seitennummerierung verfügbar")
	GSVS(IDS_PAGESPECIAL, "Besondere Seitensortierung. Seiten können nicht neu sortiert werden.  Siehe Hilfe 'Allgemeine Probleme'.  Fortsetzen?")
	GSVS(IDS_LANDSCAPE, "Querformat")
	GSVS(IDS_PORTRAIT, "Hochformat")
	GSVS(IDS_ASCEND, "Aufsteigend")
	GSVS(IDS_DESCEND, "Absteigend")
	GSVS(IDS_SPECIAL, "Spezial")
	GSVS(IDS_PAGEINFO, "Seite: \042%s\042  %d von %d")
	GSVS(IDS_LINKPAGE, "Verweis auf Seite %d")
	GSVS(IDS_DEFAULT, "Standard")
	GSVS(IDS_NOTDEFTAG, "[Undefiniert]")
	GSVS(IDS_EPSF, "EPS")
	GSVS(IDS_EPSI, "EPS mit Interchange Vorschau")
	GSVS(IDS_EPST, "EPS mit TIFF Vorschau")
	GSVS(IDS_EPSW, "EPS mit Metafile Vorschau")
	GSVS(IDS_DSC, "DSC")
	GSVS(IDS_NOTDSC, "Keine DSC Anweisungen")
	GSVS(IDS_PDF, "Portable Document Format")
	GSVS(IDS_IGNOREDSC, "Ignoriere DSC Anweisungen")
	GSVS(IDS_CTRLD, "Ctrl-D gefolgt von ")
	GSVS(IDS_PJL, "PJL gefolgt von ")
	GSVS(IDS_ZOOMED, " Vergrößert"  /* ENGLISH */)
END

STRINGTABLE
BEGIN
	GSVS(IDS_OUTPUTFILE, "Name der Ausgabedatei")
	GSVS(IDS_PRINTINGALL, "Keine DSC Anweisungen\nDrucke alle Seiten")
	GSVS(IDS_PRINTFILE, "Drucke Datei")
	GSVS(IDS_SELECTPAGE, "Auswahl Seite")
	GSVS(IDS_SELECTPAGES, "Auswahl Seiten")
	GSVS(IDS_NOTOPEN, "Kein Dokument offen")
	GSVS(IDS_CANNOTRUN, "Kann nicht ausführen ")
	GSVS(IDS_TOOLONG, "Kommandozeile zu lang: ")
	GSVS(IDS_NOMORE, "Keine weiteren Seiten")
	GSVS(IDS_GSCOMMAND, "Ghostscript Kommando ?")
	GSVS(IDS_NOZOOM, "Muß Seite vor zoom darstellen")
	GSVS(IDS_USERWIDTH, "Breite in 1/72 Zoll Einheiten ?")
	GSVS(IDS_USERHEIGHT, "Höhe in 1/72 Zoll Einheiten ?")
	GSVS(IDS_BADEPS, "Problem beim Erstellen der EPS Datei")
	GSVS(IDS_NOPREVIEW, "Keine DOS EPS Dateien oder\nKeine binäre Vorschau")
	GSVS(IDS_NOTDFNAME, "Kann nicht denselben Namen nehmen, wie geöffnetes Dokument")
	GSVS(IDS_NOTEMP, "Kann temporäre Datei nicht öffnen.\nVerzeichnis evtl. schreibgeschützt.\nTEMP Umgebungsvariable fehlt evt.")
	GSVS(IDS_CANCELDONE, "%d%% fertig")
	GSVS(IDS_BADCLI, "Ungültige Kommandozeilenoption: ")
	GSVS(IDS_DUPOPT, "Kann nur eine der Optionen /F /P /S ausführen.  Fehler bei: %s")
	GSVS(IDS_TEXTFIND, "Suche Text ?")
	GSVS(IDS_TEXTNOTFIND, "Text nicht gefunden")
	GSVS(IDS_PRINTPDFPS, "Kann eine PDF Datei nicht auf einem PostScript Drucker drucken. Benutzen Sie bitte Datei | Extrahiere")
	GSVS(IDS_NOPDFQUICKTEXT, "Ausführen von schnellem Text Suchen/Ersetzen in PDF Datei nicht möglich. Bitte Optionen|PSzuText benutzen")
	GSVS(IDS_BAD_DOSEPS_HEADER, "Falscher DOS EPS header.  DSC Anweisung wird ignoriert.")
	GSVS(IDS_PROBABLY_PCL, "Dies sieht aus wie PCL, bestimmt für HP LaserJet oder DeskJet Drucker.  Sind Sie sicher, dass es PostScript ist?")
	GSVS(IDS_BUSYPRINTING, "GSview ist mit Drucken beschäftigt.  Drücken Sie Abbruch um auf die Beendigung von GSview zu warten.")
END

STRINGTABLE
BEGIN
	/* sound type types*/
	GSVS(IDS_SOUNDNAME, "Klang Datei")
	GSVS(IDS_SNDPAGE, "Ausgabe Seite")
	GSVS(IDS_SNDNOPAGE, "Keine Seite")
	GSVS(IDS_SNDNONUMBER, "Keine Nummerierung")
	GSVS(IDS_SNDNOTOPEN, "Nicht offen")
	GSVS(IDS_SNDERROR, "Fehler")
	GSVS(IDS_SNDTIMEOUT,	"Timeout")
	GSVS(IDS_SNDSTART, "Start")
	GSVS(IDS_SNDEXIT, "Verlassen")
	GSVS(IDS_SNDBUSY, "Beschäftigt")
	GSVS(IDS_NONE, "<None>")
	GSVS(IDS_SPKR, "<Lautsprecher Piep>")
END

STRINGTABLE
BEGIN
	/* help topics - these need to match keywords in XX\gvclang.txt */
	GSVS(IDS_TOPICROOT,  "Inhaltsübersicht")
	GSVS(IDS_TOPICOPEN,  "Datei")
	GSVS(IDS_TOPICPRINT, "Drucken")
	GSVS(IDS_TOPICPROP, "Einstellung")
	GSVS(IDS_TOPICEDITPROP, "Einstellung Bearbeiten")
	GSVS(IDS_TOPICCLIP, "Zwischenablage")
	GSVS(IDS_TOPICPREVIEW, "EPS Vorschau")
	GSVS(IDS_TOPICSOUND, "Klänge")
	GSVS(IDS_TOPICDSET, "Anzeige Einstellungen")
	GSVS(IDS_TOPICMEDIA, "Seitenformat")
	GSVS(IDS_TOPICPSTOEPS, "PS zu EPS")
	GSVS(IDS_TOPICGOTO, "Seiten auswählen")
	GSVS(IDS_TOPICINSTALL, "Installation")
	GSVS(IDS_TOPICTEXT, "Text Text extrahierenkt und Suche")
	GSVS(IDS_TOPICKEYS, "Tastenkombinationen")
	GSVS(IDS_TOPICMESS, "Zeige Meldungen")
	GSVS(IDS_TOPICSPOOL, "Druck-Manager")
	GSVS(IDS_TOPICZLIB, "zlib")
	GSVS(IDS_TOPICBZIP2, "bzip2")
	GSVS(IDS_TOPICPSTOEDIT, "PSzuEdit")
	GSVS(IDS_TOPICMEASURE, "Messen")
	GSVS(IDS_TOPICEASYCFG, "Leichte Konfiguration")
	GSVS(IDS_TOPICADVANCEDCFG, "Fortgeschrittene Konfiguration")
	GSVS(IDS_TOPICDOWNLOAD, "Beschaffung von Ghostscript")
	GSVS(IDS_TOPICDSCWARN, "DSC Warnungen")
	GSVS(IDS_TOPICREG, "Registrierung")
END

STRINGTABLE
BEGIN
	GSVS(IDS_BBPROMPT,  "Klicken Sie links")
	GSVS(IDS_BBPROMPT1, "Klicken Sie unten")
	GSVS(IDS_BBPROMPT2, "Klicken Sie rechts")
	GSVS(IDS_BBPROMPT3, "Klicken Sie oben")
	GSVS(IDS_EPSONEPAGE, "Eine EPS Datei muß ein einseitiges Dokument sein. \nSiehe Hilfe für 'PS to EPS'")
	GSVS(IDS_EPSQPAGES, "Ist dies ein einseitiges Dokument ?")
	GSVS(IDS_EPSNOBBOX, "Kann Bounding Box nicht bestimmen")
	GSVS(IDS_EPSUSERINVALID, "Vorschau Datei ist kein TIFF oder Windows Metafile")
	GSVS(IDS_EPSUSERTITLE, "Öffne Vorschau Datei")
	GSVS(IDS_EPS_OFF_PAGE, "EPS Bounding Box ist vollkommen außerhalb der Seite. Aufruf von 'Optionen | EPSF Ausschnitt'")
	GSVS(IDS_EPS_BAD_BBOX, "EPS Bounding Box ist inkonsistent.  'Optionen | EPS Ausschnitt' ignoriert")
	GSVS(IDS_MUSTUSEPORTRAIT, "Sie müssen Portrait anwählen.")
END

STRINGTABLE
BEGIN
	/* wait messages */
	GSVS(IDS_WAIT, "Bitte warten")
	GSVS(IDS_WAITREAD,  "Lese...")
	GSVS(IDS_WAITWRITE,  "Schreibe...")
	GSVS(IDS_WAITDRAW, "Zeichne...")
	GSVS(IDS_WAITDRAW_PC, "Zeichne %d%%")
	GSVS(IDS_WAITGSOPEN, "Öffne Ghostscript...")
	GSVS(IDS_WAITGSCLOSE,  "Schließe Ghostscript..."	)
	GSVS(IDS_WAITPRINT,  "Drucke...")
	GSVS(IDS_WAITSEARCH,  "Suche...")
	GSVS(IDS_WAITTEXT, "Extrahiere Text %d%%")
END

STRINGTABLE
BEGIN
	/* debug messages */
	GSVS(IDS_DEBUG_DFISLOCKED, "dfreopen: file is locked")
	GSVS(IDS_DEBUG_DFISOPEN, "dfreopen: file is already open")
	GSVS(IDS_DEBUG_DFISMISSING, "dfreopen: file is missing")
	GSVS(IDS_DEBUG_DFCHANGED, "dfreopen: file has changed")
	GSVS(IDS_DEBUG_DFISCLOSED, "dfclose: file is already closed")
END

STRINGTABLE
BEGIN
	GSVS(IDS_PROCESS_GSLOAD_FAIL, "Kann Ghostscript DLL nicht laden")
	GSVS(IDS_PROCESS_INIT_FAIL, "gs_process: gsdll.init fehlgeschlagen")
	GSVS(IDS_PROCESS_VIEWER_FAIL, "gs_process: '(viewer.ps) run' fehlgeschlagen")
	GSVS(IDS_PROCESS_EXECUTE_FAIL, "gs_process: gsdll.execute_cont fehlgeschlagen")
END

STRINGTABLE
BEGIN
	/* PDF messages */
	GSVS(IDS_PDFNOPAGE, "Unbekannte Seitenanzahl in PDF Datei\nSie müssen die Datei zuerst anzeigen lassen")
	GSVS(IDS_PDFEXTRACTALL, "Unbekannte Seitenanzahl in PDF Datei\nExtrahiere oder drucke alle Seiten")
	GSVS(IDS_USEPDFWRITE, "Um Seiten aus einer PDF Datei zu extrahieren, drucken Sie in eine Datei mittels pdfwrite oder pswrite.")
END

STRINGTABLE
BEGIN
	GSVS(IDS_LARGEMEDIA, "Warnung: Format ist breiter als 2 Meter oder höher als 2 Meter. Bitte prüfen Sie 'Formate | Benutzerdefiniert'")
	GSVS(IDS_NOTIMPLEMENTED, "Nicht implementiert")
	GSVS(IDS_NOLINKTARGET, "Unbekanntes Verweisziel")
	GSVS(IDS_PARSEERROR, "Kommandozeile syntaktisch falsch")
	GSVS(IDS_ZLIB_FAIL, "zlib DLL konnte nicht geladen werden.  Druck auf OK gibt Hilfe.")
END

STRINGTABLE
BEGIN
	GSVS(IDS_BETAEXPIRED, "Diese BETA Test Kopie von GSview ist abgelaufen. Sehen Sie auf http://www.cs.wisc.edu/~ghost/ nach Details wie die aktuelle Version von GSview bezogen werden kann")
	GSVS(IDS_BETAWARN, AABETAWARN)
	GSVS(IDS_NOPRINTERINI, "Kann printer.ini nicht öffnen")
	GSVS(IDS_NOINI, "Kann INI Datei nicht öffnen")
	GSVS(IDS_NEEDTEMP, "Sie müssen die Umgebungsvariable TEMP auf ein gültiges Verzeichnis setzen. Wenn nicht, kann weder GSview noch Aladdin Ghostscript drucken")
	GSVS(IDS_VERSIONCHANGED, "Die installierte Version von GSview wurde verändert. Soll GSview neu konfiguriert werden?")
	GSVS(IDS_GSNOTINSTALLED, "Sie haben Ghostscript nicht installiert. Bitte lesen Sie die Datei Readme.htm.")
	GSVS(IDS_GSLIBNOTINSTALLED, "Sie haben die Ghostscript Bibliotheksdateien nicht installiert. Bitte lesen Sie die Datei Readme.htm.")
	GSVS(IDS_NOPROGMAN, "Kann DDE Verbindung zum Program Manager nicht öffnen")
	GSVS(IDS_PROGRAMOBJECTFAILED, AAPROGRAMOBJECTFAILED)
	GSVS(IDS_INVALIDREG, "Ungültige(r) Registrierungsname oder -Nummer")
	GSVS(IDS_UNREGISTERED, "Unregistriert")
	GSVS(IDS_WRONGEMX, "Sie haben EMX %s.\rSie brauchen EMX %s oder höher.\rPM GSview wird nicht laufen.")
	GSVS(IDS_GSVIEWVERSION, GSVIEW_DOT_VERSION)
	GSVS(IDS_PROGMANGROUP4, AAPROGMANGROUP4)
	GSVS(IDS_CFG73, AACFG73)
	GSVS(IDS_CFG74, AACFG74)
END

STRINGTABLE
BEGIN
	GSVS(IDS_PRN_PRINTMETHOD, "Druckmethode")
	GSVS(IDS_PRN_WINDOWSGDI, "Windows GDI Drucker")
	GSVS(IDS_PRN_GSDEVICE, "Ghostscript Treiber")
	GSVS(IDS_PRN_PSPRINTER, AAPSPRINTER)		// "PostScript Drucker"
	GSVS(IDS_PRN_SETTINGS, "Settings")
	GSVS(IDS_PRN_HELP, AAHELP)			// "Hilfe"
	GSVS(IDS_PRN_SELECTPAGES, "Seiten auswählen")
	// PageSize policies
	GSVS(IDS_PAGESIZE_VARIABLE, "Variable Page Size") /* ENGLISH */
	GSVS(IDS_PAGESIZE_FIXED, "Fixed Page Size") /* ENGLISH */
	GSVS(IDS_PAGESIZE_RESCALE, "Rescale to fit Page Size") /* ENGLISH */
END

STRINGTABLE
BEGIN
 	GSVS(IDS_INVALIDNUMBER, "Ungültige Nummer")
 	GSVS(IDS_CANTINVERT, "Kann Matrix nicht invertieren")
	GSVS(IDS_UNITPT, AAPT)
	GSVS(IDS_UNITMM, AAMM)
	GSVS(IDS_UNITINCH, AAINCH)
	GSVS(IDS_UNITCUSTOM, AACUSTOM)
END

STRINGTABLE
BEGIN
	GSVS(IDS_DSC_INFO, "DSC Information")
	GSVS(IDS_DSC_WARN, "DSC Warnung")
	GSVS(IDS_DSC_ERROR, "DSC Fehler")
        GSVS(IDS_DSC_LINEFMT, "%.40s in Zeile %d:")
END


/* Split strings if longer than 256 bytes */

/* ENGLISH */

STRINGTABLE
BEGIN
	GSVS(CDSC_RESOURCE_BBOX, "This line is incorrect.\012The bounding box must be in integer coordinates,\012not floating point. A floating point bounding box should\012be specified using %%HiResBoundingBox:\012A %%BoundingBox: should still be provided with integer values.\012")
	GSVS(CDSC_RESOURCE_BBOX2, "\012'OK' will convert the coordinates to integers,\012rounding them outwards.\012'Cancel' will ignore this line.\012")


	GSVS(CDSC_RESOURCE_EARLY_TRAILER, "The trailer is normally at the end of a document.\012This line was found more than 32k bytes from the end\012of the file.  Trailers are not usually this long.\012It is more likely that another PostScript file has been included,")
	GSVS(CDSC_RESOURCE_EARLY_TRAILER2, "\012without enclosing it in %%BeginDocument / %%EndDocument.\012\012'OK' will assume this is part of an included file.\012'Cancel' will assume this is the trailer.\012")

	GSVS(CDSC_RESOURCE_EARLY_EOF, "This line normally occurs at the end of a document.\012This line was found more than 100 bytes from the end\012of the file.\012It is more likely that another PostScript file has been included,")
	GSVS(CDSC_RESOURCE_EARLY_EOF2, "\012without enclosing it in %%BeginDocument / %%EndDocument.\012\012'OK' will assume this is part of an included file.\012'Cancel' will assume this is part of the trailer.\012")

	GSVS(CDSC_RESOURCE_PAGE_IN_TRAILER, "This %%Page: line occurred in the trailer, which is not legal.\012EPS files should be encapsulated in %%BeginDocument / %%EndDocument.\012If is possible that an EPS file was incorrectly encapsulated,")
	GSVS(CDSC_RESOURCE_PAGE_IN_TRAILER2, "\012and that we have been confused by the %%Trailer in an EPS file.\012\012'OK' will process more pages.\012'Cancel' will ignore this page comment.\012")

	GSVS(CDSC_RESOURCE_PAGE_ORDINAL, "This line is incorrect.\012The two arguments should be a label and an ordinal.\012The ordinal should be 1 for the first page and should\012increase by 1 for each following page.\012The page ordinal is missing or is not in sequence.\012\012It is likely that ")
	GSVS(CDSC_RESOURCE_PAGE_ORDINAL2, "this line is part of an included file that\012was not enclosed in %%BeginDocument / %%EndDocument.\012\012'OK' will ignore this page, assuming it is part of an\012incorrectly encapsulated EPS file.\012'Cancel' will treat this as a valid page\012")

	GSVS(CDSC_RESOURCE_PAGES_WRONG, "%%Pages: doesn't match number of %%Page:\012\012'OK' will adjust the page count to match the number of %%Page:\012comments found.\012'Cancel' will set the page count from %%Pages:\012")
	GSVS(CDSC_RESOURCE_PAGES_WRONG2,"")

	GSVS(CDSC_RESOURCE_EPS_NO_BBOX, "This EPS file is missing the required %%BoundingBox:\012See the GSview help for details of how to add/adjust the\012bounding box.\012\012'OK' will assume this as an EPS file.\012'Cancel' will assume this is NOT an EPS file.\012")
	GSVS(CDSC_RESOURCE_EPS_NO_BBOX2, "")

	GSVS(CDSC_RESOURCE_EPS_PAGES, "EPS files may have 0 or 1 pages.  This 'EPS' file has\012more than this and so is not an EPS file.\012You cannot use `Print To` `Encapsulated PostScript File` for\012printing multipage files.  The correct method is to connect")
	GSVS(CDSC_RESOURCE_EPS_PAGES2, "\012the printer to FILE: or to select 'Print to File'.\012\012'OK' will assume this as an EPS file.\012'Cancel' will assume this is NOT an EPS file.\012")

	GSVS(CDSC_RESOURCE_NO_MEDIA, "Media was specified with %%DocumentMedia:, but no default.\012media was specified with %%PageMedia:.\012\012'OK' will set the default media to the first listed media.\012'Cancel' will not set a default media.\012") 
	GSVS(CDSC_RESOURCE_NO_MEDIA2, "") 

	GSVS(CDSC_RESOURCE_ATEND, "This line is incorrect.\012To defer a value, you must use '(atend)', not 'atend'\012\012'OK' will assume that (atend) was meant.\012'Cancel' will ignore this line.\012")
	GSVS(CDSC_RESOURCE_ATEND2, "")

	GSVS(CDSC_RESOURCE_DUP_COMMENT, "This comment is duplicated in the header, which is unnecessary.\012The first occurence of a header line takes precedence.\012\012'OK' or 'Cancel' will ignore the duplicate line.\012")
	GSVS(CDSC_RESOURCE_DUP_COMMENT2, "")

	GSVS(CDSC_RESOURCE_DUP_TRAILER, "This comment is duplicated in the trailer, which is unnecessary.\012The last occurence of a trailer line takes precedence.\012\012'OK' or 'Cancel' will use the duplicate line.\012")
	GSVS(CDSC_RESOURCE_DUP_TRAILER2, "")

	GSVS(CDSC_RESOURCE_BEGIN_END, "The number of Begin and End comments do not match.\012\012'OK' or 'Cancel' will ignore this mismatch.\012")
	GSVS(CDSC_RESOURCE_BEGIN_END2, "")

	GSVS(CDSC_RESOURCE_BAD_SECTION, "This line is incorrect because it should not occur\012within a page.  This probably indicates that an EPS file\012was incorrectly encapsulated.  The line will be ignored.\012\012'OK' or 'Cancel' will ignore this line.\012")
	GSVS(CDSC_RESOURCE_BAD_SECTION2, "")

	GSVS(CDSC_RESOURCE_LONG_LINE, "\012\012Lines in DSC documents must be shorter than 255 characters.\012") 
	GSVS(CDSC_RESOURCE_LONG_LINE2, "") 

	GSVS(CDSC_RESOURCE_INCORRECT_USAGE, "This DSC comment line is incorrect.\012Please refer to the DSC specification.\012\012'OK' or 'Cancel' will ignore this mismatch.\012")
	GSVS(CDSC_RESOURCE_INCORRECT_USAGE2, "")

END
