/* Copyright (C) 1993-2000, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* sk\gvclang.rc */
/* Common Slovak language resources */

#ifndef GSVS
#define GSVS(x,y) x,y
#endif

/* button help */
STRINGTABLE
BEGIN
	/* these must be in ascending ID order */
	GSVS(IDM_OPEN, "Otvoriť...")
	GSVS(IDM_INFO, "Informácie...")
	GSVS(IDM_PRINT, "Tlačiť...")
	GSVS(IDM_TEXTFIND, "Hľadať...")
	GSVS(IDM_TEXTFINDNEXT, "Hľadať ďalej")
	GSVS(IDM_NEXT, "Ďalšia strana")
	GSVS(IDM_NEXTSKIP, "Preskočiť 5 strán dopredu")
	GSVS(IDM_PREV, "Predchádzajúca strana")
	GSVS(IDM_PREVSKIP, "Preskočiť 5 strán dozadu")
	GSVS(IDM_GOTO, "Prejsť na stranu...")
	GSVS(IDM_GOBACK, "Prejsť späť")
	GSVS(IDM_GOFWD, "Prejsť dopredu")
	GSVS(IDM_MAGPLUS, "Väčšie rozlíšenie")
	GSVS(IDM_MAGMINUS, "Menšie rozlíšenie")
	GSVS(IDM_HELPCONTENT, "Pomocník")
END


STRINGTABLE
BEGIN
	GSVS(IDS_LANGUAGE, AASLOVAK)
	GSVS(IDS_ELANGUAGE, AASLOVAK)
	GSVS(IDS_FILE, "Súbor: ")
	GSVS(IDS_NOFILE, "Žiadny súbor")
	GSVS(IDS_PAGE, "Strana: ")
	GSVS(IDS_NOPAGE, "Nie je prístupné číslovanie strán")
	GSVS(IDS_PAGESPECIAL, "Page ordering is Special.  Pages can not be reliably reordered.  See help 'Common Problems'.  Continue?")
	GSVS(IDS_LANDSCAPE, "Landscape")
	GSVS(IDS_PORTRAIT, "Portrait")
	GSVS(IDS_ASCEND, "Vzostupne")
	GSVS(IDS_DESCEND, "Zostupne")
	GSVS(IDS_SPECIAL, "Špeciálne")
	GSVS(IDS_PAGEINFO, "Strana: \042%s\042  %d of %d")
	GSVS(IDS_LINKPAGE, "Odkaz na stranu %d")
	GSVS(IDS_DEFAULT, "Štandardne")
	GSVS(IDS_NOTDEFTAG, "[Nie je určené]")
	GSVS(IDS_EPSF, "EPS")
	GSVS(IDS_EPSI, "EPS s Interchange náhľadom")
	GSVS(IDS_EPST, "EPS s TIFF náhľadom")
	GSVS(IDS_EPSW, "EPS s Metafile náhľadom")
	GSVS(IDS_DSC, "DSC")
	GSVS(IDS_NOTDSC, "Žiadne DSC poznámky")
	GSVS(IDS_PDF, "Portable Document Format")
	GSVS(IDS_IGNOREDSC, "Ignorovať DSC poznámky")
	GSVS(IDS_CTRLD, "Ctrl-D followed by ")
	GSVS(IDS_PJL, "PJL followed by ")
	GSVS(IDS_ZOOMED, " Zoomed")
END

STRINGTABLE
BEGIN
	GSVS(IDS_OUTPUTFILE, "Výstupný názov súboru")
	GSVS(IDS_PRINTINGALL, "Žiadne DSC poznámky\nTlačiť všetky strany")
	GSVS(IDS_PRINTFILE, "Tlačiť súbor")
	GSVS(IDS_SELECTPAGE, "Vybrať stranu")
	GSVS(IDS_SELECTPAGES, "Vybrať strany")
	GSVS(IDS_NOTOPEN, "Nie je otvorený dokument")
	GSVS(IDS_CANNOTRUN, "Nedá sa spustiť ")
	GSVS(IDS_TOOLONG, "Príkazový riadok je príliš dlhý: ")
	GSVS(IDS_NOMORE, "Už nie je viac strán")
/* OLD
	GSVS(IDS_GSCOMMAND, "Ghostscript príkaz?")
*/
	GSVS(IDS_NOZOOM, "Musíte zobraziť stranu pred priblížením")
	GSVS(IDS_USERWIDTH, "Šírka v 1/72 inch units?")
	GSVS(IDS_USERHEIGHT, "Výška v 1/72 inch units?")
	GSVS(IDS_BADEPS, "Chyby pri vytváraní súboru EPS")
	GSVS(IDS_NOPREVIEW, "Not a DOS EPS súbor alebo\nŽiadny binárny náhľad")
	GSVS(IDS_NOTDFNAME, "Nemôžete použiť rovnaký názov ako má otvorený dokument")
	GSVS(IDS_NOTEMP, "Nedá sa otvoriť dočasný súbor.\nPriečinok musí mať atribúty iba na čozanie.\nTEMP Prmenné prostredie nemôže byť nastavené.")
	GSVS(IDS_CANCELDONE, "%d%% done")
	GSVS(IDS_BADCLI, "Zlá možnosť príkazového riadku: ")
	GSVS(IDS_DUPOPT, "Môžete určiť len jednu možnosť s /F /P /S.  Chyba na: %s")
	GSVS(IDS_TEXTFIND, "Hľadať text?")
	GSVS(IDS_TEXTNOTFIND, "Text sa nenašiel")
	GSVS(IDS_PRINTPDFPS, "Nedá sa tlačiť PDF na PostScript tlačiareň.  Pužite možnosť Extrahovať z ponuky Súbor")
	GSVS(IDS_NOPDFQUICKTEXT, "Can't do quick text extract or find on PDF file.  Use Options | PStoText")
	GSVS(IDS_BAD_DOSEPS_HEADER, "DOS EPS header je zlý.  Ignorujú sa DSC poznámky.")
	GSVS(IDS_PROBABLY_PCL, "This looks like PCL, intended for HP LaserJet or DeskJet printers.  Are you sure this is PostScript?")
	GSVS(IDS_BUSYPRINTING, "GSview is busy printing.  Press Zrušiť to wait until GSview has finished.")
END

STRINGTABLE
BEGIN
	/* sound type types*/
	GSVS(IDS_SOUNDNAME, "Zvukový súbor")
	GSVS(IDS_SNDPAGE, "Výstupná strana")
	GSVS(IDS_SNDNOPAGE, "Žiadna strana")
	GSVS(IDS_SNDNONUMBER, "Žiadne číslovanie")
	GSVS(IDS_SNDNOTOPEN, "Nie nič otvorené")
	GSVS(IDS_SNDERROR, "Chyba")
	GSVS(IDS_SNDTIMEOUT,	"Timeout")
	GSVS(IDS_SNDSTART, "Začať")
	GSVS(IDS_SNDEXIT, "Skončiť")
	GSVS(IDS_SNDBUSY, "Busy")
	GSVS(IDS_NONE, "<Žiadny>")
	GSVS(IDS_SPKR, "<Speaker Beep>")
END

STRINGTABLE
BEGIN
	/* help topics - these need to match keywords in XX\gvclang.txt */
	GSVS(IDS_TOPICROOT,  "Overview")
	GSVS(IDS_TOPICOPEN,  "Open")
	GSVS(IDS_TOPICPRINT, "Print")
	GSVS(IDS_TOPICPROP, "Properties")
	GSVS(IDS_TOPICEDITPROP, "Edit Properties")
	GSVS(IDS_TOPICCONVERT, "Convert")
	GSVS(IDS_TOPICCLIP, "Clipboard")
	GSVS(IDS_TOPICPREVIEW, "EPS Preview")
	GSVS(IDS_TOPICSOUND, "Sounds")
	GSVS(IDS_TOPICDSET, "Display Settings")
	GSVS(IDS_TOPICMEDIA, "Media")
	GSVS(IDS_TOPICPSTOEPS, "PS to EPS")
	GSVS(IDS_TOPICGOTO, "Page Selection")
	GSVS(IDS_TOPICINSTALL, "Installation")
	GSVS(IDS_TOPICTEXT, "Text Extract and Find")
	GSVS(IDS_TOPICKEYS, "Keys")
	GSVS(IDS_TOPICMESS, "Show Messages")
	GSVS(IDS_TOPICSPOOL, "Spooler")
	GSVS(IDS_TOPICZLIB, "zlib")
	GSVS(IDS_TOPICBZIP2, "bzip2")
	GSVS(IDS_TOPICPSTOEDIT, "PStoEdit")
	GSVS(IDS_TOPICMEASURE, "Measure")
	GSVS(IDS_TOPICEASYCFG, "Easy Configure")
	GSVS(IDS_TOPICADVANCEDCFG, "Advanced Configure")
	GSVS(IDS_TOPICDOWNLOAD, "Obtaining Ghostscript")
	GSVS(IDS_TOPICDSCWARN, "DSC Warnings")
	GSVS(IDS_TOPICREG, "Registration")
END

STRINGTABLE
BEGIN
	GSVS(IDS_BBPROMPT,  "Click at left")
	GSVS(IDS_BBPROMPT1, "Click at bottom")
	GSVS(IDS_BBPROMPT2, "Click at right")
	GSVS(IDS_BBPROMPT3, "Click at top")
	GSVS(IDS_EPSONEPAGE, "An EPS file must be a single page document. \nSee help on 'PS to EPS'")
	GSVS(IDS_EPSQPAGES, "Is this a single page document?")
	GSVS(IDS_EPSNOBBOX, "Could not obtain Bounding Box")
	GSVS(IDS_EPSUSERINVALID, "Zobrazený súbor nie súbor TIFF alebo Windows Metafile")
	GSVS(IDS_EPSUSERTITLE, "Otvoriť náhľad súboru")
	GSVS(IDS_EPS_OFF_PAGE, "EPS Bounding Box is entirely off the page.  Suggest you use 'Options | EPS Clip'")
	GSVS(IDS_MUSTUSEPORTRAIT, "You must use Portrait orientation.")
END

STRINGTABLE
BEGIN
	/* wait messages */
	GSVS(IDS_WAIT, "Čakajte")
	GSVS(IDS_WAITREAD,  "Číta sa...")
	GSVS(IDS_WAITWRITE,  "Zapisuje sa...")
	GSVS(IDS_WAITDRAW, "Kreslí sa...")
	GSVS(IDS_WAITDRAW_PC, "Kreslí sa %d%%")
	GSVS(IDS_WAITGSOPEN, "Otvára sa program Ghostscript...")
	GSVS(IDS_WAITGSCLOSE,  "Zatvára sa program Ghostscript...")
	GSVS(IDS_WAITPRINT,  "Tlačí sa...")
	GSVS(IDS_WAITSEARCH,  "Prehľadáva sa...")
	GSVS(IDS_WAITTEXT, "Extrahuje sa text %d%%")
END


STRINGTABLE
BEGIN
	/* debug messages */
	GSVS(IDS_DEBUG_DFISLOCKED, "dfreopen: súbor je zamknutý")
	GSVS(IDS_DEBUG_DFISOPEN, "dfreopen: súbor je už otvorený")
	GSVS(IDS_DEBUG_DFISMISSING, "dfreopen: súbor chýba")
	GSVS(IDS_DEBUG_DFCHANGED, "dfreopen: súbor bol zmenený")
	GSVS(IDS_DEBUG_DFISCLOSED, "dfclose: súbor je už zavretý")
END

STRINGTABLE
BEGIN
	GSVS(IDS_PROCESS_GSLOAD_FAIL, "Nedá sa spustiť Ghostscript DLL")
	GSVS(IDS_PROCESS_INIT_FAIL, "gs_process: gsdll.init zlyhal")
	GSVS(IDS_PROCESS_VIEWER_FAIL, "gs_process: '(viewer.ps) run' zlyhal")
	GSVS(IDS_PROCESS_EXECUTE_FAIL, "gs_process: gsdll.execute_cont zlyhal")
END

STRINGTABLE
BEGIN
	/* PDF messages */
	GSVS(IDS_PDFNOPAGE, "Neznámy počet strán v súbore PDF \nYou must display the file first" )
	GSVS(IDS_PDFEXTRACTALL, "Neznámy počet strán v súbore PDF \nExtracting or printing all pages")
	GSVS(IDS_USEPDFWRITE, "Pre extrahovanie strán zo súboru PDF, pužite možnosť Konvertovať z ponuky Súbor s pdfwrite alebo pswrite zariadenia.")
END

STRINGTABLE
BEGIN
	GSVS(IDS_LARGEMEDIA, "Upozornenie: media size is wider than 2 metres or higher than 2 metres.  Please check 'Media | User Defined'")
	GSVS(IDS_NOTIMPLEMENTED, "Nedá sa realitovať")
	GSVS(IDS_NOLINKTARGET, "Neznámy cieľ odkazu")
	GSVS(IDS_PARSEERROR, "Chyba pri rozbore príkazového riadku")
	GSVS(IDS_ZLIB_FAIL, "Failed to load zlib DLL.  Kliknite na tlačidlo OK pre zobrazenie Pomocníka.")
	GSVS(IDS_BZIP2_FAIL, "Failed to load bzip2 DLL.  Kliknite na tlačidlo OK pre zobrazenie Pomocníka.")
END

STRINGTABLE
BEGIN
	GSVS(IDS_BETAEXPIRED, "Táto BETA testovacia kópia programu GSview skončila.  Navštívte http://www.ghostgum.com.au/ for details about how to obtain the current version of GSview")
	GSVS(IDS_BETAWARN, AABETAWARN)
	GSVS(IDS_NOPRINTERINI, "Nedá sa otvoriť súbor printer.ini")
	GSVS(IDS_NOINI, "Nedá sa otvoriť súbor INI")
	GSVS(IDS_NEEDTEMP, "You must set the environment variable TEMP to a valid writeable directory.  Without this, GSview will not be able to print")
	GSVS(IDS_GSNOTINSTALLED, "Nie je naištalovaný prgram Ghostscript.  Prečítajte si súbor Readme.htm programu GSview.")
	GSVS(IDS_GSLIBNOTINSTALLED, "Nie sú naištalované súbory knižníc programu Ghostscript.  Prečítajte si súbor Readme.htm programu GSview.")
	GSVS(IDS_NOPROGMAN, AANODDEPROGMAN)
	GSVS(IDS_PROGRAMOBJECTFAILED, AAPROGRAMOBJECTFAILED)
	GSVS(IDS_INVALIDREG, "Neplatné meno alebo číslo")
	GSVS(IDS_UNREGISTERED, "Neregistrovaný")
	GSVS(IDS_WRONGEMX, "You have emx %s.\rYou need emx %s or later.\rPM GSview will not run correctly.")
	GSVS(IDS_GSVIEWVERSION, GSVIEW_DOT_VERSION)
	GSVS(IDS_PROGMANGROUP4, AAPROGMANGROUP4)
	GSVS(IDS_CFG73, AACFG73)
	GSVS(IDS_CFG74, AACFG74)
END

STRINGTABLE
BEGIN
	GSVS(IDS_PRN_PRINTMETHOD, "Metóda tlače")
	GSVS(IDS_PRN_WINDOWSGDI, "Windows GDI tlačiareň")
	GSVS(IDS_PRN_GSDEVICE, "Ghostscript zariadenie")
	GSVS(IDS_PRN_PSPRINTER, AAPSPRINTER)		// "PostScript tlačiareň"
	GSVS(IDS_PRN_SETTINGS, "Nastavenia")
	GSVS(IDS_PRN_HELP, AAHELP)			// "Pomocník"
	GSVS(IDS_PRN_SELECTPAGES, "Vybrať strany")
	GSVS(IDS_ALL, AAALL)
	// PageSize policies
	GSVS(IDS_PAGESIZE_VARIABLE, "Premenlivá veľkosť strany")
	GSVS(IDS_PAGESIZE_FIXED, "Stála veľkosť strany")
	GSVS(IDS_PAGESIZE_SHRINK, "Shrink to fit Page Size")
END

STRINGTABLE
BEGIN
 	GSVS(IDS_INVALIDNUMBER, "Chybné číslo")
 	GSVS(IDS_CANTINVERT, "Cannot invert matrix")
	GSVS(IDS_UNITPT, AAPT)
	GSVS(IDS_UNITMM, AAMM)
	GSVS(IDS_UNITINCH, AAINCH)
	GSVS(IDS_UNITCUSTOM, AACUSTOM)
END


STRINGTABLE
BEGIN
	GSVS(IDS_DSC_INFO, "DSC informácie")
	GSVS(IDS_DSC_WARN, "DSC upozornenie")
	GSVS(IDS_DSC_ERROR, "DSC chyba")
        GSVS(IDS_DSC_LINEFMT, "%.40s na riadku %d:")
END


/* Split strings if longer than 256 bytes */

STRINGTABLE
BEGIN
	GSVS(CDSC_RESOURCE_BBOX, "Tento riadok nie je platný.\012The bounding box must be in integer coordinates,\012not floating point. A floating point bounding box should\012be specified using %%HiResBoundingBox:\012A %%BoundingBox: should still be provided with integer values.\012")
	GSVS(CDSC_RESOURCE_BBOX2, "\012'OK' will convert the coordinates to integers,\012rounding them outwards.\012'Cancel' will ignore this line.\012")
	GSVS(CDSC_RESOURCE_BBOX3, "")


	GSVS(CDSC_RESOURCE_EARLY_TRAILER, "The trailer is normally at the end of a document.\012This line was found more than 32k bytes from the end\012of the file.  Trailers are not usually this long.\012It is more likely that another PostScript file has been included,")
	GSVS(CDSC_RESOURCE_EARLY_TRAILER2, "\012without enclosing it in %%BeginDocument / %%EndDocument.\012\012'OK' will assume this is part of an included file.\012'Cancel' will assume this is the trailer.\012")
	GSVS(CDSC_RESOURCE_EARLY_TRAILER3, "")

	GSVS(CDSC_RESOURCE_EARLY_EOF, "This line normally occurs at the end of a document.\012This line was found more than 100 bytes from the end\012of the file.\012It is more likely that another PostScript file has been included,")
	GSVS(CDSC_RESOURCE_EARLY_EOF2, "\012without enclosing it in %%BeginDocument / %%EndDocument.\012\012'OK' will assume this is part of an included file.\012'Cancel' will assume this is part of the trailer.\012")
	GSVS(CDSC_RESOURCE_EARLY_EOF3, "")

	GSVS(CDSC_RESOURCE_PAGE_IN_TRAILER, "This %%Page: line occurred in the trailer, which is not legal.\012EPS files should be encapsulated in %%BeginDocument / %%EndDocument.\012It is possible that an EPS file was incorrectly encapsulated,")
	GSVS(CDSC_RESOURCE_PAGE_IN_TRAILER2, "\012and that we have been confused by the %%Trailer in an EPS file.\012\012'OK' will process more pages.\012'Cancel' will ignore this page comment.\012")
	GSVS(CDSC_RESOURCE_PAGE_IN_TRAILER3, "")

	GSVS(CDSC_RESOURCE_PAGE_ORDINAL, "This line is incorrect.\012The two arguments should be a label and an ordinal.\012The ordinal should be 1 for the first page and should\012increase by 1 for each following page.\012The page ordinal is missing or is not in sequence.\012\012It is likely that ")
	GSVS(CDSC_RESOURCE_PAGE_ORDINAL2, "this line is part of an included file that\012was not enclosed in %%BeginDocument / %%EndDocument.\012\012'OK' will ignore this page, assuming it is part of an\012incorrectly encapsulated EPS file.\012'Cancel' will treat this as a valid page\012")
	GSVS(CDSC_RESOURCE_PAGE_ORDINAL3, "")

	GSVS(CDSC_RESOURCE_PAGES_WRONG, "%%Pages: doesn't match number of %%Page:\012\012'OK' will adjust the page count to match the number of %%Page:\012comments found.\012'Cancel' will set the page count from %%Pages:\012")
	GSVS(CDSC_RESOURCE_PAGES_WRONG2,"")
	GSVS(CDSC_RESOURCE_PAGES_WRONG3,"")

	GSVS(CDSC_RESOURCE_EPS_NO_BBOX, "This EPS file is missing the required %%BoundingBox:\012See the GSview help for details of how to add/adjust the\012bounding box.\012\012'OK' will assume this as an EPS file.\012'Cancel' will assume this is NOT an EPS file.\012")
	GSVS(CDSC_RESOURCE_EPS_NO_BBOX2, "")
	GSVS(CDSC_RESOURCE_EPS_NO_BBOX3, "")

	GSVS(CDSC_RESOURCE_EPS_PAGES, "EPS files may have 0 or 1 pages.  This 'EPS' file has\012more than this and so is not an EPS file.\012You cannot use `Print To` `Encapsulated PostScript File` for\012printing multipage files.  The correct method is to connect")
	GSVS(CDSC_RESOURCE_EPS_PAGES2, "\012the printer to FILE: or to select 'Print to File'.\012\012'OK' will assume this as an EPS file.\012'Cancel' will assume this is NOT an EPS file.\012")
	GSVS(CDSC_RESOURCE_EPS_PAGES3, "")

	GSVS(CDSC_RESOURCE_NO_MEDIA, "Media was specified with %%DocumentMedia:, but no default.\012media was specified with %%PageMedia:.\012\012'OK' will set the default media to the first listed media.\012'Cancel' will not set a default media.\012") 
	GSVS(CDSC_RESOURCE_NO_MEDIA2, "") 
	GSVS(CDSC_RESOURCE_NO_MEDIA3, "") 

	GSVS(CDSC_RESOURCE_ATEND, "This line is incorrect.\012To defer a value, you must use '(atend)', not 'atend'\012\012'OK' will assume that (atend) was meant.\012'Cancel' will ignore this line.\012")
	GSVS(CDSC_RESOURCE_ATEND2, "")
	GSVS(CDSC_RESOURCE_ATEND3, "")

	GSVS(CDSC_RESOURCE_DUP_COMMENT, "This comment is duplicated in the header, which is unnecessary.\012The first occurence of a header line takes precedence.\012\012'OK' or 'Cancel' will ignore the duplicate line.\012")
	GSVS(CDSC_RESOURCE_DUP_COMMENT2, "")
	GSVS(CDSC_RESOURCE_DUP_COMMENT3, "")

	GSVS(CDSC_RESOURCE_DUP_TRAILER, "This comment is duplicated in the trailer, which is unnecessary.\012The last occurence of a trailer line takes precedence.\012\012'OK' or 'Cancel' will use the duplicate line.\012")
	GSVS(CDSC_RESOURCE_DUP_TRAILER2, "")
	GSVS(CDSC_RESOURCE_DUP_TRAILER3, "")

	GSVS(CDSC_RESOURCE_BEGIN_END, "The number of Begin and End comments do not match.\012\012'OK' or 'Cancel' will ignore this mismatch.\012")
	GSVS(CDSC_RESOURCE_BEGIN_END2, "")
	GSVS(CDSC_RESOURCE_BEGIN_END3, "")

	GSVS(CDSC_RESOURCE_BAD_SECTION, "This line is incorrect because it should not occur\012within a page.  This probably indicates that an EPS file\012was incorrectly encapsulated.  The line will be ignored.\012\012'OK' or 'Cancel' will ignore this line.\012")
	GSVS(CDSC_RESOURCE_BAD_SECTION2, "")
	GSVS(CDSC_RESOURCE_BAD_SECTION3, "")

	GSVS(CDSC_RESOURCE_LONG_LINE, "\012\012Lines in DSC documents must be shorter than 255 characters.\012") 
	GSVS(CDSC_RESOURCE_LONG_LINE2, "") 
	GSVS(CDSC_RESOURCE_LONG_LINE3, "") 

	GSVS(CDSC_RESOURCE_INCORRECT_USAGE, "This DSC comment line is incorrect.\012Please refer to the DSC specification.\012\012'OK' or 'Cancel' will ignore this mismatch.\012")
	GSVS(CDSC_RESOURCE_INCORRECT_USAGE2, "")
	GSVS(CDSC_RESOURCE_INCORRECT_USAGE3, "")

END
