/* Copyright (C) 1993-2000, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* en\gvclang.rc */
/* Common English language resources */

/* button help */
STRINGTABLE
BEGIN
	IDM_OPEN, "Open..."
	IDM_PRINT, "Print..."
	IDM_INFO, "Info..."
	IDM_HELPCONTENT, "Help"
	IDM_GOTO, "Goto Page..."
	IDM_NEXT, "Next Page"
	IDM_PREV, "Previous Page"
	IDM_NEXTSKIP, "Skip forwards 5 pages"
	IDM_PREVSKIP, "Skip backwards 5 pages"
	IDM_MAGPLUS, "Increase Resolution"
	IDM_MAGMINUS, "Decrease Resolution"
	IDM_TEXTFIND, "Find..."
	IDM_TEXTFINDNEXT, "Find Next"
END


STRINGTABLE
BEGIN
	IDS_FILE, "File: "
	IDS_NOFILE, "No File"
	IDS_PAGE, "Page: "
	IDS_NOPAGE, "No page numbering available"
	IDS_PAGESPECIAL, "Page ordering is Special.  Pages can not be reliably reordered.  See help 'Common Problems'.  Continue?"
	IDS_LANDSCAPE, "Landscape"
	IDS_PORTRAIT, "Portrait"
	IDS_ASCEND, "Ascending"
	IDS_DESCEND, "Descending"
	IDS_SPECIAL, "Special"
	IDS_PAGEINFO, "Page: \042%s\042  %d of %d"
	IDS_LINKPAGE, "Link to page %d"
	IDS_DEFAULT, "Default"
	IDS_NOTDEFTAG, "[Not defined]"
	IDS_EPSF, "EPS"
	IDS_EPSI, "EPS with Interchange Preview"
	IDS_EPST, "EPS with TIFF Preview"
	IDS_EPSW, "EPS with Metafile Preview"
	IDS_DSC, "DSC"
	IDS_NOTDSC, "No DSC comments"
	IDS_PDF, "Portable Document Format"
	IDS_IGNOREDSC, "Ignoring DSC comments"
	IDS_CTRLD, "Ctrl-D followed by "
	IDS_PJL, "PJL followed by "
	IDS_ZOOMED, " Zoomed"
END

STRINGTABLE
BEGIN
	IDS_OUTPUTFILE, "Output Filename"
	IDS_PRINTINGALL, "No DSC comments\nPrinting all pages"
	IDS_PRINTFILE, "Print File"
	IDS_SELECTPAGE, "Select Page"
	IDS_SELECTPAGES, "Select Pages"
	IDS_NOTOPEN, "No document open"
	IDS_CANNOTRUN, "Can't run "
	IDS_TOOLONG, "Command line too long: "
	IDS_NOMORE, "No more pages"
/* OLD
	IDS_GSCOMMAND, "Ghostscript command ?"
*/
	IDS_NOZOOM, "Must display page before zooming"
	IDS_USERWIDTH, "Width in 1/72 inch units ?"
	IDS_USERHEIGHT, "Height in 1/72 inch units ?"
	IDS_BADEPS, "Problem making EPS file"
	IDS_NOPREVIEW, "Not a DOS EPS file or\nNo binary preview"
	IDS_NOTDFNAME, "Can't use same name as open document"
	IDS_NOTEMP, "Couldn't open temporary file.\nDirectory may be Read Only.\nTEMP environment variable may not set."
	IDS_CANCELDONE, "%d%% done"
	IDS_BADCLI, "Bad command line option: "
	IDS_DUPOPT, "Can only specify one of /F /P /S options.  Error at: %s"
	IDS_TEXTFIND, "Find text ?"
	IDS_TEXTNOTFIND, "Text not found"
	IDS_PRINTPDFPS "Can't print PDF to a PostScript printer.  Use File | Extract"
	IDS_NOPDFQUICKTEXT "Can't do quick text extract or find on PDF file.  Use Options | PStoText"
	IDS_BAD_DOSEPS_HEADER "DOS EPS header is bad.  Ignoring DSC comments."
	IDS_PROBABLY_PCL "This looks like PCL, intended for HP LaserJet or DeskJet printers.  Are you sure this is PostScript?"
	IDS_BUSYPRINTING "GSview is busy printing.  Press Cancel to wait until GSview has finished."
END

STRINGTABLE
BEGIN
	/* sound type types*/
	IDS_SOUNDNAME, "Sound File"
	IDS_SNDPAGE, "Output Page"
	IDS_SNDNOPAGE, "No Page"
	IDS_SNDNONUMBER, "No Numbering"
	IDS_SNDNOTOPEN, "Not Open"
	IDS_SNDERROR, "Error"
	IDS_SNDTIMEOUT,	"Timeout"
	IDS_SNDSTART, "Start"
	IDS_SNDEXIT, "Exit"
	IDS_SNDBUSY, "Busy"
	IDS_NONE, "<None>"
	IDS_SPKR, "<Speaker Beep>"
END

STRINGTABLE
BEGIN
	/* help topics - these need to match keywords in XX\gvclang.txt */
	IDS_TOPICROOT,  "Overview"
	IDS_TOPICOPEN,  "Open"
	IDS_TOPICPRINT, "Print"
	IDS_TOPICPROP, "Properties"
	IDS_TOPICEDITPROP, "Edit Properties"
	IDS_TOPICCONVERT, "Convert"
	IDS_TOPICCLIP, "Clipboard"
	IDS_TOPICPREVIEW, "EPS Preview"
	IDS_TOPICSOUND, "Sounds"
	IDS_TOPICDSET, "Display Settings"
	IDS_TOPICMEDIA, "Media"
	IDS_TOPICPSTOEPS, "PS to EPS"
	IDS_TOPICGOTO, "Page Selection"
	IDS_TOPICINSTALL, "Installation"
	IDS_TOPICTEXT, "Text Extract and Find"
	IDS_TOPICKEYS, "Keys"
	IDS_TOPICMESS, "Show Messages"
	IDS_TOPICSPOOL, "Spooler"
	IDS_TOPICZLIB, "zlib"
	IDS_TOPICBZIP2, "bzip2"
	IDS_TOPICPSTOEDIT, "PStoEdit"
	IDS_TOPICMEASURE, "Measure"
	IDS_TOPICEASYCFG "Easy Configure"
	IDS_TOPICADVANCEDCFG "Advanced Configure"
	IDS_TOPICDOWNLOAD "Obtaining Ghostscript"
	IDS_TOPICDSCWARN "DSC Warnings"
	IDS_TOPICREG "Registration"
END

STRINGTABLE
BEGIN
	IDS_BBPROMPT,  "Click at left"
	IDS_BBPROMPT1, "Click at bottom"
	IDS_BBPROMPT2, "Click at right"
	IDS_BBPROMPT3, "Click at top"
	IDS_EPSONEPAGE, "An EPS file must be a single page document. \nSee help on 'PS to EPS'"
	IDS_EPSQPAGES, "Is this a single page document ?"
	IDS_EPSNOBBOX, "Could not obtain Bounding Box"
	IDS_EPSUSERINVALID, "Preview file is not TIFF or Windows Metafile"
	IDS_EPSUSERTITLE, "Open Preview File"
	IDS_EPS_OFF_PAGE, "EPS Bounding Box is entirely off the page.  Suggest you use 'Options | EPS Clip'"
	IDS_MUSTUSEPORTRAIT, "You must use Portrait orientation."
END

STRINGTABLE
BEGIN
	IDS_UNITPT, AAPT
	IDS_UNITMM, AAMM
	IDS_UNITINCH, AAINCH
	IDS_UNITCUSTOM, AACUSTOM
 	IDS_INVALIDNUMBER, "Invalid number"
 	IDS_CANTINVERT, "Cannot invert matrix"
END

STRINGTABLE
BEGIN
	/* wait messages */
	IDS_WAIT, "Wait"
	IDS_WAITREAD,  "Reading..."
	IDS_WAITWRITE,  "Writing..."
	IDS_WAITDRAW, "Drawing..."
	IDS_WAITDRAW_PC, "Drawing %d%%"
	IDS_WAITGSOPEN, "Opening Ghostscript..."
	IDS_WAITGSCLOSE,  "Closing Ghostscript..."
	IDS_WAITPRINT,  "Printing..."
	IDS_WAITSEARCH,  "Searching..."
	IDS_WAITTEXT, "Extracting Text %d%%"
END

STRINGTABLE
BEGIN
	/* debug messages */
	IDS_DEBUG_DFISLOCKED, "dfreopen: file is locked"
	IDS_DEBUG_DFISOPEN, "dfreopen: file is already open"
	IDS_DEBUG_DFISMISSING, "dfreopen: file is missing"
	IDS_DEBUG_DFCHANGED, "dfreopen: file has changed"
	IDS_DEBUG_DFISCLOSED, "dfclose: file is already closed"
END

STRINGTABLE
BEGIN
	IDS_PROCESS_GSLOAD_FAIL, "Can't load Ghostscript DLL"
	IDS_PROCESS_INIT_FAIL, "gs_process: gsdll.init failed"
	IDS_PROCESS_VIEWER_FAIL, "gs_process: '(viewer.ps) run' failed"
	IDS_PROCESS_EXECUTE_FAIL, "gs_process: gsdll.execute_cont failed"
END

STRINGTABLE
BEGIN
	/* PDF messages */
	IDS_PDFNOPAGE, "Unknown number of pages in PDF file\nYou must display the file first" 
	IDS_PDFEXTRACTALL, "Unknown number of pages in PDF file\nExtracting or printing all pages"
	IDS_USEPDFWRITE, "To extract pages from a PDF file, Print to File using the pdfwrite or pswrite device."
END

STRINGTABLE
BEGIN
	IDS_LARGEMEDIA, "Warning: media size is wider than 2 metres or higher than 2 metres.  Please check 'Media | User Defined'"
	IDS_NOTIMPLEMENTED, "Not implemented"
	IDS_NOLINKTARGET, "Unknown target for link"
	IDS_PARSEERROR, "Error parsing command line"
	IDS_ZLIB_FAIL, "Failed to load zlib DLL.  Press OK button for help."
	IDS_BZIP2_FAIL, "Failed to load bzip2 DLL.  Press OK button for help."
END

STRINGTABLE
BEGIN
	IDS_BETAEXPIRED, "This BETA test copy of GSview has expired.  See http://www.cs.wisc.edu/~ghost/ for details about how to obtain the current version of GSview"
	IDS_BETAWARN, AABETAWARN
	IDS_NOPRINTERINI, "Can't open printer.ini"
	IDS_NOINI, "Can't open INI file"
	IDS_NEEDTEMP, "You must set the environment variable TEMP to a valid writeable directory.  Without this, GSview and Aladdin Ghostscript will not be able to print"
	IDS_GSNOTINSTALLED, "You have not installed Ghostscript.  Please read the GSview Readme.htm file."
	IDS_GSLIBNOTINSTALLED, "You have not installed the Ghostscript library files.  Please read the GSview Readme.htm file."
	IDS_PROGRAMOBJECTFAILED, AAPROGRAMOBJECTFAILED
	IDS_NOPROGMAN, AANODDEPROGMAN
	IDS_WRONGEMX, "You have emx %s.\rYou need emx %s or later.\rPM GSview will not run correctly."
	IDS_GSVIEWVERSION, GSVIEW_DOT_VERSION
	IDS_CFG73, AACFG73
	IDS_CFG74, AACFG74
	IDS_PROGMANGROUP4 AAPROGMANGROUP4
END

STRINGTABLE
BEGIN
	IDS_DSC_INFO "DSC Information"
	IDS_DSC_WARN "DSC Warning"
	IDS_DSC_ERROR "DSC Error"
        IDS_DSC_LINEFMT "%.40s at line %d:"
	IDS_INVALIDREG "Invalid Registration Name or Number"
	IDS_UNREGISTERED "Unregistered"
END

STRINGTABLE
BEGIN
	IDS_PRN_PRINTMETHOD, "Print Method"
	IDS_PRN_WINDOWSGDI "Windows GDI printer"
	IDS_PRN_GSDEVICE "Ghostscript device"
	IDS_PRN_PSPRINTER AAPSPRINTER		// "PostScript Printer"
	IDS_PRN_SETTINGS "Settings"
	IDS_PRN_HELP AAHELP			// "Help"
	IDS_PRN_SELECTPAGES "Select Pages"
END

/* These are in resources because STRINGTABLE entries are */
/* limited to 256 bytes */

GSVIEW_RCDATA(CDSC_RESOURCE_BBOX)
BEGIN
"This line is incorrect.\012"
"The bounding box must be in integer coordinates,\012"
"not floating point. A floating point bounding box should\012"
"be specified using %%HiResBoundingBox:\012"
"A %%BoundingBox: should still be provided with integer values.\012"
"\012"
"'OK' will convert the coordinates to integers,\012"
"rounding them outwards.\012"
"'Cancel' will ignore this line.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_EARLY_TRAILER)
BEGIN
"The trailer is normally at the end of a document.\012"
"This line was found more than 32k bytes from the end\012"
"of the file.  Trailers are not usually this long.\012"
"It is more likely that another PostScript file has been included,\012"
"without enclosing it in %%BeginDocument / %%EndDocument.\012"
"\012"
"'OK' will assume this is part of an included file.\012"
"'Cancel' will assume this is the trailer.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_EARLY_EOF)
BEGIN
"This line normally occurs at the end of a document.\012"
"This line was found more than 100 bytes from the end\012"
"of the file.\012"
"It is more likely that another PostScript file has been included,\012"
"without enclosing it in %%BeginDocument / %%EndDocument.\012"
"\012"
"'OK' will assume this is part of an included file.\012"
"'Cancel' will assume this is part of the trailer.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_PAGE_IN_TRAILER)
BEGIN
"This %%Page: line occurred in the trailer, which is not legal.\012"
"EPS files should be encapsulated in %%BeginDocument / %%EndDocument.\012"
"If is possible that an EPS file was incorrectly encapsulated,\012"
"and that we have been confused by the %%Trailer in an EPS file.\012"
"\012"
"'OK' will process more pages.\012"
"'Cancel' will ignore this page comment.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_PAGE_ORDINAL)
BEGIN
"This line is incorrect.\012"
"The two arguments should be a label and an ordinal.\012"
"The ordinal should be 1 for the first page and should\012"
"increase by 1 for each following page.\012"
"The page ordinal is missing or is not in sequence.\012"
"\012"
"It is likely that this line is part of an included file that\012"
"was not enclosed in %%BeginDocument / %%EndDocument.\012"
"\012"
"'OK' will ignore this page, assuming it is part of an\012"
"incorrectly encapsulated EPS file.\012"
"'Cancel' will treat this as a valid page\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_PAGES_WRONG)
BEGIN
"%%Pages: doesn't match number of %%Page:\012"
"\012"
"'OK' will adjust the page count to match the number of %%Page:\012"
"comments found.\012"
"'Cancel' will set the page count from %%Pages:\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_EPS_NO_BBOX)
BEGIN
"This EPS file is missing the required %%BoundingBox:\012"
"See the GSview help for details of how to add/adjust the\012"
"bounding box.\012"
"\012"
"'OK' will assume this as an EPS file.\012"
"'Cancel' will assume this is NOT an EPS file.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_EPS_PAGES)
BEGIN
"EPS files may have 0 or 1 pages.  This 'EPS' file has\012"
"more than this and so is not an EPS file.\012"
"You cannot use `Print To` `Encapsulated PostScript File` for\012"
"printing multipage files.  The correct method is to connect\012"
"the printer to FILE: or to select 'Print to File'.\012"
"\012"
"'OK' will assume this as an EPS file.\012"
"'Cancel' will assume this is NOT an EPS file.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_NO_MEDIA)
BEGIN
"Media was specified with %%DocumentMedia:, but no default.\012"
"media was specified with %%PageMedia:.\012"
"\012"
"'OK' will set the default media to the first listed media.\012"
"'Cancel' will not set a default media.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_ATEND)
BEGIN
"This line is incorrect.\012"
"To defer a value, you must use '(atend)', not 'atend'\012"
"\012"
"'OK' will assume that (atend) was meant.\012"
"'Cancel' will ignore this line.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_DUP_COMMENT)
BEGIN
"This comment is duplicated in the header, which is unnecessary.\012"
"The first occurence of a header line takes precedence.\012"
"\012"
"'OK' or 'Cancel' will ignore the duplicate line.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_DUP_TRAILER)
BEGIN
"This comment is duplicated in the trailer, which is unnecessary.\012"
"The last occurence of a trailer line takes precedence.\012"
"\012"
"'OK' or 'Cancel' will use the duplicate line.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_BEGIN_END)
BEGIN
"The number of Begin and End comments do not match.\012"
"\012"
"'OK' or 'Cancel' will ignore this mismatch.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_BAD_SECTION)
BEGIN
"This line is incorrect because it should not occur\012"
"within a page.  This probably indicates that an EPS file\012"
"was incorrectly encapsulated.  The line will be ignored.\012"
"\012"
"'OK' or 'Cancel' will ignore this line.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_LONG_LINE)
BEGIN
"\012\012Lines in DSC documents must be shorter than 255 characters.\012"
"\0"
END

GSVIEW_RCDATA(CDSC_RESOURCE_INCORRECT_USAGE)
BEGIN
"This DSC comment line is incorrect.\012"
"Please refer to the DSC specification.\012"
"\012"
"'OK' or 'Cancel' will ignore this mismatch.\012"
"\0"
END

