/* Copyright (C) 1993, 1994, 1995, Russell Lang.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* gvwin2.rc */
/* Language independent resources for GSVIEW.EXE a graphical interface 
   for MS-Windows Ghostscript */

#ifndef GSVIEW_VERSION
#include "gvcrc.h"
#endif

ID_GSVIEW ICON "binary/gvwin.ico"

/* button table */
/* Each button is specified by a menu item identifier */
/* The button contents is given by a BITMAP with the same identifier */
/* or a STRINGTABLE entry with the same identifier, or an ICON with */
/* the same identifier */
/* The table ends with a NULL */
IDR_BUTTON RCDATA
BEGIN
	IDM_OPEN,
	IDM_PRINT,
	IDM_INFO,
	IDM_HELPCONTENT,
	IDM_GOTO,
	IDM_NEXT,
	IDM_PREV,
	IDM_NEXTSKIP,
	IDM_PREVSKIP,
	IDM_MAGPLUS,
	IDM_MAGMINUS,
	IDM_TEXTFIND,
	IDM_TEXTFINDNEXT,
	0
END

/* This section gives the default entries for the [Devices] section of */
/* gsview.ini, used to specify available printer drivers. */
/* Each line contains a device name and available resolutions, separated  */
/* by commas.  Don't use spaces.  Each line must end with a '\0' */
/* The last line of this section must be "\0" */
/* Maximum line length is 128 */
IDR_DEVICES RCDATA
BEGIN
	"mswinpr2,\0"   /* can't set resolution in device dialog box */
	"mswinprn,\0"   /* can't set resolution in device dialog box */
#if defined(__WIN32__)
	"deskjet,300x300,150x150,100x100,75x75\0"
	"djet500,300x300,150x150,100x100,75x75\0"
	"laserjet,300x300,150x150,100x100,75x75\0"
	"ljetplus,300x300,150x150,100x100,75x75\0"
	"ljet2p,300x300,150x150,100x100,75x75\0"
	"ljet3,300x300,150x150,100x100,75x75\0"
	"ljet4,600x600,300x300,150x150,100x100,75x75\0"
	"cdeskjet,300x300,150x150,100x100,75x75\0"
	"cdjcolor,300x300,150x150,100x100,75x75\0"
	"cdjmono,300x300,150x150,100x100,75x75\0"
	"cdj550,300x300,150x150,100x100,75x75\0"
	"pj,180x180,90x90\0" /* guess */
	"pjxl,180x180,90x90\0" /* guess */
	"pjxl300,300x300\0"
	"djet500c,300x300,150x150,100x100,75x75\0"
	"declj250,180x180\0"
	"lj250,180x180,90x90\0" /* guess */
	"jetp3852,84x84\0"
	"r4081,300x300\0"
	"t4693d2,100x100\0"
	"t4693d4,100x100\0"
	"t4693d8,100x100\0"
	"tek4696,120x120\0"
	"lbp8,300x300\0"
	"epson,360x180,240x180,180x180,120x180,60x180,180x60,120x60,60x60,240x72,120x72,60x72\0"
	"eps9mid,240x216,120x216,60x216\0"  /* guess */
	"eps9high,240x216,120x216,60x216\0"
	"epsonc,360x180,240x180,180x180,120x180,60x180,180x60,120x60,60x60,240x72,120x72,60x72\0"
	"ibmpro,360x180,240x180,180x180,120x180,60x180,180x60,120x60,60x60,240x72,120x72,60x72\0"
	"st800,360x360,360x180,180x180\0"
	"stcolor,360x360,360x180,180x180\0"
	"bj10e,360x360,360x180,180x360,180x180\0"
	"bj200,360x360,360x180,180x360,180x180\0"
	"m8510,160x144\0"
	"neccp6,360x360,360x180,180x360,180x180\0" /* guess */
	"dfaxhigh,204x196\0"
	"dfaxlow,204x98\0"
	"tiffg3,204x196,204x98\0"
	"tiffg4,204x196,204x98\0"
	"bmpmono,72,96,120\0"
	"bmp16,72,96,120\0"
	"bmp256,72,96,120\0"
	"bmp16m,72,96,120\0"
	"pcxmono,72,96,120\0"
	"pcxgray,72,96,120\0"
	"pcx16,72,96,120\0"
	"pcx256,72,96,120\0"
	"pcx24b,72,96,120\0"
	"psmono,72,96\0"
	"bit,72,96\0"
	"bitrgb,72,96\0"
	"bitcmyk,72,96\0"
	"tiffcrle,204x196\0"
	"tiffg3,204x196\0"
	"tiffg32d,204x196\0"
	"tiffg4,204x196\0"
	"tifflzw,204x196\0"
	"tiffpack,204x196\0"
#else
	"deskjet,300x300,150x150,100x100,75x75\0"
	"djet500,300x300,150x150,100x100,75x75\0"
	"laserjet,300x300,150x150,100x100,75x75\0"
	"ljetplus,300x300,150x150,100x100,75x75\0"
	"ljet2p,300x300,150x150,100x100,75x75\0"
	"ljet3,300x300,150x150,100x100,75x75\0"
	"ljet4,600x600,300x300,150x150,100x100,75x75\0"
	"cdeskjet,300x300,150x150,100x100,75x75\0"
	"cdjcolor,300x300,150x150,100x100,75x75\0"
	"cdjmono,300x300,150x150,100x100,75x75\0"
	"cdj550,300x300,150x150,100x100,75x75\0"
	"pj,180x180,90x90\0"
	"pjxl,180x180,90x90\0" /* guess */
	"pjxl300,300x300\0"
	"epson,360x180,240x180,180x180,120x180,60x180,180x60,120x60,60x60,240x72,120x72,60x72\0"
	"eps9high,240x216,120x216,60x216\0"
	"ibmpro,360x180,240x180,180x180,120x180,60x180,180x60,120x60,60x60,240x72,120x72,60x72\0"
	"bj10e,360x360,360x180,180x360,180x180\0"
	"bj200,360x360,360x180,180x360,180x180\0"
	"bmpmono,72,96\0"
	"bmp16,72,96\0"
	"bmp256,72,96\0"
	"bmp16m,72,96\0"
#endif
	"\0"
END

/* header to control page orientation */
IDR_ORIENT RCDATA
BEGIN
	"/gsview_orientation {\r\n"
	" gsview_offset\r\n"
	" gsave clippath pathbbox grestore\r\n"
	" 4 dict begin\r\n"
	" /ury exch def /urx exch def /lly exch def /llx exch def\r\n"
	" gsview_landscape\r\n"
	" {-90 rotate\r\n llx ury add neg llx lly sub translate} if\r\n"
	" gsview_upsidedown\r\n"
	" {180 rotate\r\n llx urx add neg lly ury add neg translate} if\r\n"
	" gsview_seascape\r\n"
	" {90 rotate\r\n lly llx sub lly urx add neg translate} if\r\n"
	" end\r\n} def\r\n"
#if !defined(__WIN32__) && defined(GS261)
	"/showpage\r\n{"
	" (showpage\\r\\n) print flush\r\n"
	" 1 true .outputpage erasepage initgraphics\r\n"
	" gsview_orientation\r\n} bind def\r\n"
#else
	"/showpage\r\n{"
	" (showpage\\r\\n) print flush\r\n"
	" 0 .endpage {1 true .outputpage erasepage initgraphics}\r\n"
	" if gsview_orientation .beginpage\r\n} bind def\r\n"
#endif
	"gsview_orientation\r\n"
	"/gsview_cleanup {clear cleardictstack} def\r\n"
	"/gsview_setpagesize {\r\n"
	" gsview_landscape gsview_seascape or {exch} if\r\n"
	" gsview_zoom {pop pop}\r\n"
        "  {//statusdict begin .setpagesize end gsview_orientation} ifelse\r\n"
        "} def\r\n"
	"/letter {612 792 gsview_setpagesize} def\r\n"
	"/note {540 720 gsview_setpagesize} def\r\n"
	"/legal {612 1008 gsview_setpagesize} def\r\n"
	"/a3 {842 1190 gsview_setpagesize} def\r\n"
	"/a4 {595 842 gsview_setpagesize} def\r\n"
	"/a5 {421 595 gsview_setpagesize} def\r\n"
	"/a6 {297 421 gsview_setpagesize} def\r\n"
	"/b4 {709 1002 gsview_setpagesize} def\r\n"
	"/flsa {612 936 gsview_setpagesize} def\r\n"
	"/flse {612 936 gsview_setpagesize} def\r\n"
	"/halfletter {396 612 gsview_setpagesize} def\r\n"
	"/11x17 {792 1224 gsview_setpagesize} def\r\n"
	"/ledger {1224 792 gsview_setpagesize} def\r\n"
	"\0"
END

/* header to control page orientation - extras for GS 3.x */
IDR_ORIENT3 RCDATA
BEGIN
	"/setpagedevice\r\n"
	"{dup length dict copy dup /HWResolution undef setpagedevice} bind odef\r\n"
	"\0"
END

/* header to warn of operators incompatible with EPS */
IDR_EPSFWARN RCDATA
BEGIN
	"/eps_warn {(Warning: EPS file must not use ) print dup == flush systemdict exch get exec} def\015\012"
	"/banddevice {/banddevice eps_warn} def\015\012"
	"/clear {/clear eps_warn} def\015\012"
	"/cleardictstack {/cleardictstack eps_warn} def\015\012"
	"/copypage {/copypage eps_warn} def\015\012"
	"/erasepage {/erasepage eps_warn} def\015\012"
	"/exitserver {/exitserver eps_warn} def\015\012"  /* this won't work - exitserver is in serverdict */
	"/serverdict {/serverdict eps_warn} def\015\012"  /* so use this to provide warnings instead */
	"/framedevice {/framedevice eps_warn} def\015\012"
	"/grestoreall {/grestoreall eps_warn} def\015\012"
	"/initclip {/initclip eps_warn} def\015\012"
	"/initgraphics {/initgraphics eps_warn} def\015\012"
	"/initmatrix {/initmatrix eps_warn} def\015\012"
	"/quit {/quit eps_warn} def\015\012"
	"/renderbands {/renderbands eps_warn} def\015\012"
	"/setglobal {/setglobal eps_warn} def\015\012"
	"/setpagedevice {/setpagedevice eps_warn} def\015\012"
	"/setpageparams {/setpageparams eps_warn} def\015\012"
	"/setshared {/setshared eps_warn} def\015\012"
	"/startjob {/startjob eps_warn} def\015\012"
	"/letter {/letter eps_warn} def\015\012"
	"/note {/note eps_warn} def\015\012"
	"/legal {/legal eps_warn} def\015\012"
	"/a3 {/a3 eps_warn} def\015\012"
	"/a4 {/a4 eps_warn} def\015\012"
	"/a5 {/a5 eps_warn} def\015\012"
	"/eps_warntwo {(Warning: EPS file should be careful using ) print dup == flush systemdict exch get exec} def\015\012"
	"/nulldevice {/nulldevice eps_warntwo} def\015\012"
	"/setgstate {/setgstate eps_warntwo} def\015\012"
	"/sethalftone {/sethalftone eps_warntwo} def\015\012"
	"/setmatrix {/setmatrix eps_warntwo} def\015\012"
	"/setscreen {/setscreen eps_warntwo} def\015\012"
	"/settransfer {/settransfer eps_warntwo} def\015\012"
	"/setcolortransfer {/setcolortransfer eps_warntwo} def\015\012"
	"count /eps_count exch def\015\012"
	"countdictstack /eps_countdictstack exch def\015\012"
	"/eps_countcheck {count eps_count\015\012"
	"  ne {(Warning: EPS file altered operand stack count\\n) print pstack flush} if\015\012"
	"  countdictstack eps_countdictstack\015\012"
	"  ne {(Warning: EPS file altered dictionary stack count\\n) print flush} if\015\012"
	"} def\015\012"
	"/gsview_cleanup {eps_countcheck //systemdict /clear get exec //systemdict /cleardictstack get exec} def\015\012"
	"\0"
END

gsview_bitmap BITMAP "binary/gvwmisc.bmp"

IDM_OPEN BITMAP "binary/gvwopen.bmp"

IDM_PRINT BITMAP "binary/gvwprint.bmp"

IDM_INFO BITMAP "binary/gvwinfo.bmp"

IDM_HELPCONTENT BITMAP "binary/gvwhelp.bmp"

IDM_GOTO BITMAP "binary/gvwgoto.bmp"

IDM_NEXT BITMAP "binary/gvwnext.bmp"

IDM_PREV BITMAP "binary/gvwprev.bmp"

IDM_NEXTSKIP BITMAP "binary/gvwnexts.bmp"

IDM_PREVSKIP BITMAP "binary/gvwprevs.bmp"

IDM_MAGPLUS BITMAP "binary/gvwmagp.bmp"

IDM_MAGMINUS BITMAP "binary/gvwmagm.bmp"

IDM_TEXTFIND BITMAP "binary/gvwfind.bmp"

IDM_TEXTFINDNEXT BITMAP "binary/gvwfindn.bmp"
