/* Copyright (C) 1993-1996, Russell Lang.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* gvwin.rc */
/* Resources for GSVIEW.EXE, a graphical interface for MS-Windows Ghostscript */

#include <windows.h>
#include "gvcrc.h"
#include "gvwin2.rc"	/* language independent resources */

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif

gsview_menu MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open...\tO", IDM_OPEN
		MENUITEM "&Select File...\tS", IDM_SELECT
		MENUITEM "Save &As...\tA", IDM_SAVEAS
		MENUITEM "&Extract...\tE", IDM_EXTRACT
		MENUITEM "PS to EPS", IDM_PSTOEPS
		MENUITEM "&Close\tC", IDM_CLOSE
		MENUITEM "&Info...\tI", IDM_INFO
		MENUITEM SEPARATOR
		MENUITEM "&Print...\tP", IDM_PRINT
		MENUITEM "Print To &File...\tF", IDM_PRINTTOFILE
		MENUITEM "Print File...", IDM_SPOOL
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Copy\tCtrl+C", IDM_COPYCLIP
		MENUITEM SEPARATOR
		MENUITEM "&Paste To...", IDM_PASTETO
		MENUITEM "Convert &Bitmap", IDM_CONVERT
		MENUITEM SEPARATOR
		POPUP "&Add EPS Preview"
		BEGIN
		    MENUITEM "&Interchange", IDM_MAKEEPSI
		    MENUITEM "TIFF 4", IDM_MAKEEPST4
		    MENUITEM "&TIFF 5", IDM_MAKEEPST
		    MENUITEM "&Windows Metafile", IDM_MAKEEPSW
		    MENUITEM "&User Supplied Preview", IDM_MAKEEPSU
		END
		POPUP "&Extract EPS"
		BEGIN
		    MENUITEM "&PostScript", IDM_EXTRACTPS
		    MENUITEM "Pre&view", IDM_EXTRACTPRE
		END
		MENUITEM SEPARATOR
		MENUITEM "&Text Extract...", IDM_TEXTEXTRACT
		MENUITEM "&Find...", IDM_TEXTFIND
		MENUITEM "Find &Next", IDM_TEXTFINDNEXT
	END
	POPUP "O&ptions"
	BEGIN
		MENUITEM "Configure &Ghostscript...", IDM_GSCOMMAND
		POPUP "Ghostscript &Version"
		BEGIN
			MENUITEM "Ghostscript &3.51 or later", IDM_GS351
#if !defined(__WIN32__) && defined(GS261)
			MENUITEM "Ghostscript 3.12 or 3.33", IDM_GS333
			MENUITEM "Ghostscript &2.6.1", IDM_GS261
#else
			MENUITEM "Ghostscript 3.33", IDM_GS333
#endif
		END
		MENUITEM "Sounds...", IDM_SOUNDS
		POPUP "&Units"
		BEGIN
			MENUITEM "&pt", IDM_UNITPT
			MENUITEM "&mm", IDM_UNITMM
			MENUITEM "&inch", IDM_UNITINCH
		END
		MENUITEM "Save Settings &Now", IDM_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM "&Save Settings on Exit", IDM_SAVESETTINGS
		MENUITEM "Sa&fer", IDM_SAFER
		MENUITEM "Save Last &Directory", IDM_SAVEDIR
		MENUITEM "&Button Bar", IDM_BUTTONSHOW
		/* MENUITEM "&Fit Window to Page", IDM_FITPAGE */
		MENUITEM "&Quick Open", IDM_QUICK
		MENUITEM "Auto &Redisplay", IDM_AUTOREDISPLAY
		MENUITEM "EPS &Clip", IDM_EPSFCLIP
		MENUITEM "EPS &Warn", IDM_EPSFWARN
		MENUITEM "&Ignore DSC", IDM_IGNOREDSC
	END
	POPUP "&View"
	BEGIN
		MENUITEM "&Next Page\t+", IDM_NEXT
		MENUITEM "Pre&vious Page\t-", IDM_PREV
		MENUITEM "&Goto Page...\tG", IDM_GOTO
		MENUITEM "&Redisplay\tR", IDM_REDISPLAY
	END
	POPUP "&Orientation"
	BEGIN
		MENUITEM "&Portrait", IDM_PORTRAIT
		MENUITEM "&Landscape", IDM_LANDSCAPE
		MENUITEM "&Upside-down", IDM_UPSIDEDOWN
		MENUITEM "&Seascape", IDM_SEASCAPE
		MENUITEM SEPARATOR
		MENUITEM "Swap Landscape", IDM_SWAPLANDSCAPE
	END
	POPUP "&Media"
	BEGIN
		MENUITEM "&Resolution...", IDM_RESOLUTION
		MENUITEM "&Zoom Resolution...", IDM_ZOOMRES
		POPUP "&Depth"
		BEGIN
			MENUITEM "Default", IDM_DEPTHDEF
			MENUITEM "1 bit/pixel (Monochrome)", IDM_DEPTH1
			MENUITEM "4 bit/pixel (VGA)", IDM_DEPTH4
			MENUITEM "8 bit/pixel", IDM_DEPTH8
			MENUITEM "16 bit/pixel", IDM_DEPTH16
			MENUITEM "24 bit/pixel", IDM_DEPTH24
		END
		MENUITEM SEPARATOR
		MENUITEM "Letter", IDM_LETTER
		MENUITEM "Tabloid", IDM_TABLOID
		MENUITEM "Ledger", IDM_LEDGER
		MENUITEM "Legal", IDM_LEGAL
		MENUITEM "Statement", IDM_STATEMENT
		MENUITEM "Executive", IDM_EXECUTIVE
		MENUITEM "A3", IDM_A3
		MENUITEM "A4", IDM_A4
		MENUITEM "A5", IDM_A5
		MENUITEM "B4", IDM_B4
		MENUITEM "B5", IDM_B5
		MENUITEM "Folio", IDM_FOLIO
		MENUITEM "Quarto", IDM_QUARTO
		MENUITEM "10x14", IDM_10X14
		MENUITEM "User Defined...", IDM_USERSIZE
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents", IDM_HELPCONTENT
		MENUITEM "&Search for Help on...", IDM_HELPSEARCH
		MENUITEM "&Keys Help", IDM_HELPKEYS
		MENUITEM SEPARATOR
		MENUITEM "&About...", IDM_ABOUT
	END
END

gsview_accel ACCELERATORS
BEGIN
	"O", IDM_OPEN
	"o", IDM_OPEN
	"C", IDM_CLOSE
	"c", IDM_CLOSE
	"N", IDM_NEXT
	"n", IDM_NEXT
	"+", IDM_NEXT
	"V", IDM_PREV
	"v", IDM_PREV
	"-", IDM_PREV
	"G", IDM_GOTO
	"g", IDM_GOTO
	"I", IDM_INFO
	"i", IDM_INFO
	"R", IDM_REDISPLAY
	"r", IDM_REDISPLAY
	"S", IDM_SELECT
	"s", IDM_SELECT
	"A", IDM_SAVEAS
	"a", IDM_SAVEAS
	"P", IDM_PRINT
	"p", IDM_PRINT
	"F", IDM_PRINTTOFILE
	"f", IDM_PRINTTOFILE
	"E", IDM_EXTRACT
	"e", IDM_EXTRACT
	VK_F1, IDM_HELPCONTENT, VIRTKEY
	"^C", IDM_COPYCLIP
	VK_INSERT, IDM_COPYCLIP, VIRTKEY, CONTROL
END


STRINGTABLE
BEGIN
	/* general strings */
	IDS_FILTER, "Default (*.ps)|*.ps|EPS Files (*.eps)|*.eps|EPI Files (*.epi)|*.epi|All Files (*.*)|*.*|Bitmap Files (*.bmp)|*.bmp|TIFF Files (*.tif)|*.tif|Windows Metafiles (*.wmf)|*.wmf|Text (*.txt|*.txt|"
#ifdef __WIN32__
	IDS_TITLE, "GSview for Windows 32"
#else
	IDS_TITLE, "GSview for Windows"
#endif
	IDS_HELPFILE, "gsview.hlp"
	IDS_WRONGGS, "Incompatible Windows Ghostscript Program"
	IDS_BUSY, "GSview is busy.\nClear busy state?"
END

STRINGTABLE
BEGIN
	IDS_FILE, "File: "
	IDS_NOFILE, "No File"
	IDS_PAGE, "Page: "
	IDS_NOPAGE, "No page numbering available"
	IDS_LANDSCAPE, "Landscape"
	IDS_PORTRAIT, "Portrait"
	IDS_ASCEND, "Ascending"
	IDS_DESCEND, "Descending"
	IDS_SPECIAL, "Special"
	IDS_EPSF, "EPS"
	IDS_EPSI, "EPS with Interchange Preview"
	IDS_EPST, "EPS with TIFF Preview"
	IDS_EPSW, "EPS with Metafile Preview"
	IDS_DSC, "DSC"
	IDS_NOTDSC, "No DSC comments"
	IDS_PDF, "Portable Document Format"
	IDS_IGNOREDSC, "Ignoring DSC comments"
	IDS_PAGEINFO, "Page: \"%s\"  %d of %d"
END

STRINGTABLE
BEGIN
	IDS_OUTPUTFILE, "Output Filename"
	IDS_PRINTINGALL, "No DSC comments\nPrinting all pages"
	IDS_PRINTFILE, "Print File"
	IDS_NOSPOOL, "Print Manager is disabled\nEnable it now ?"
	IDS_SELECTPAGE, "Select Page"
	IDS_SELECTPAGES, "Select Pages"
	IDS_TIMEOUT, "Timeout waiting for Ghostscript"
	IDS_NOTIMER, "No Timer available"
	IDS_NOTOPEN, "No document open"
	IDS_CANNOTRUN, "Can't run "
	IDS_TOOLONG, "Command line too long: "
	IDS_NOMORE, "No more pages"
	IDS_GSCOMMAND, "Ghostscript command ?"
	IDS_RES, "Display resolution (dpi) ?"
	IDS_ZOOMRES, "Zoom resolution (dpi) ?"
	IDS_NOZOOM, "Must display page before zooming"
	IDS_USERWIDTH, "Width in 1/72 inch units ?"
	IDS_USERHEIGHT, "Height in 1/72 inch units ?"
	IDS_BADEPS, "Problem making EPS file"
	IDS_NOPREVIEW, "Not a DOS EPS file or\nNo binary preview"
	IDS_NOTDFNAME, "Can't use same name as open document"
	IDS_PIPE_EOPEN, "Pipe error.  Couldn't open temporary file.\nDirectory may be Read Only.\nTEMP environment variable may not set."
	IDS_PIPE_EMEM, "Pipe error. Couldn't allocate memory."
	IDS_CANCELDONE, "%d%% done"
	IDS_BADCLI, "Bad command line option: %s"
	IDS_TEXTFIND, "Find text ?"
	IDS_TEXTNOTFIND, "Text not found"
END

STRINGTABLE
BEGIN
	/* sound type types*/
	IDS_SOUNDNAME, "Sound File"
	IDS_SNDPAGE, "Output Page"
	IDS_SNDNOPAGE, "No Page"
	IDS_SNDNONUMBER, "No Numbering"
	IDS_SNDNOTOPEN, "Not Open"
	IDS_SNDERROR, "Error"
	IDS_SNDTIMEOUT,	"Timeout"
	IDS_SNDSTART, "Start"
	IDS_SNDEXIT, "Exit"
	IDS_SOUNDNOMM, "Can't load MMSYSTEM.DLL\nSounds will be unavailable"
	IDS_NONE, "<None>"
	IDS_SPKR, "<Speaker Beep>"
END

STRINGTABLE
BEGIN
	/* help topics - these need to match keywords in gsview.doc */
	IDS_TOPICROOT,  "Overview"
	IDS_TOPICOPEN,  "Open"
	IDS_TOPICPRINT, "Print"
	IDS_TOPICPROP, "Properties"
	IDS_TOPICEDITPROP, "Edit Properties"
	IDS_TOPICEDIT, "Edit"
	IDS_TOPICGSCMD, "Ghostscript Command"
	IDS_TOPICSOUND, "Sounds"
	IDS_TOPICMEDIA, "Media"
	IDS_TOPICPSTOEPS, "PS to EPS"
	IDS_TOPICGOTO, "Page Selection"
	IDS_TOPICINSTALL, "Installation"
	IDS_TOPICTEXT, "Text Extract and Find"
	IDS_TOPICKEYS, "Keys"
	IDS_TOPICMESS, "Show Messages"
	IDS_TOPICSPOOL, "Spooler"
END

STRINGTABLE
BEGIN
	IDS_BBPROMPT,  "Click at left"
	IDS_BBPROMPT1, "Click at bottom"
	IDS_BBPROMPT2, "Click at right"
	IDS_BBPROMPT3, "Click at top"
	IDS_EPSONEPAGE, "An EPS file must be a single page document.\nSee help on 'PS to EPS'"
	IDS_EPSQPAGES, "Is this a single page document ?"
	IDS_EPSNOBBOX, "Could not obtain Bounding Box"
	IDS_EPSREAD, "Have you read help `PS to EPS` ?"
	IDS_EPSUSERINVALID, "Preview file is not TIFF or Windows Metafile"
	IDS_EPSUSERTITLE, "Open Preview File"
	IDS_EPS_OFF_PAGE, "EPS Bounding Box is entirely off the page.  Suggest you use 'Options | EPSF Clip'"
END

STRINGTABLE
BEGIN
	/* wait messages */
	IDS_WAIT, "Wait"
	IDS_WAITREAD,  "Reading..."
	IDS_WAITWRITE,  "Writing..."
	IDS_WAITDRAW, "Drawing..."
	IDS_WAITGSOPEN, "Opening Ghostscript..."
	IDS_WAITGSCLOSE,  "Closing Ghostscript..."
	IDS_WAITPRINT,  "Printing..."
	IDS_WAITSEARCH,  "Searching..."
END

STRINGTABLE
BEGIN
	/* filter strings */
	IDS_FILTER_PSALL, "Default (*.ps;*.eps;*.epi)|*.ps;*.eps;*.epi|PS Files (*.ps)|*.ps|EPS Files (*.eps)|*.eps|EPI Files (*.epi)|*.epi|All Files (*.*)|*.*|"
	IDS_FILTER_PS, "Default (*.ps)|*.ps|EPS Files (*.eps)|*.eps|EPI Files (*.epi)|*.epi|All Files (*.*)|*.*|"
	IDS_FILTER_EPS, "EPS Files (*.eps)|*.eps|EPI Files (*.epi)|*.epi|PS Files (*.ps)|*.ps|All Files (*.*)|*.*|"
	IDS_FILTER_EPI, "EPI Files (*.epi)|*.epi|EPS Files (*.eps)|*.eps|PS Files (*.ps)|*.ps|All Files (*.*)|*.*|"
	IDS_FILTER_ALL, "All Files (*.*)|*.*|"
	IDS_FILTER_BMP, "Bitmap Files (*.bmp)|*.bmp|All Files (*.*)|*.*|"
	IDS_FILTER_TIFF, "TIFF Files (*.tif)|*.tif|All Files (*.*)|*.*|"
	IDS_FILTER_WMF, "Windows Metafiles (*.wmf)|*.wmf|All Files (*.*)|*.*|"
	IDS_FILTER_TXT, "Text Files (*.txt)|*.txt|All Files (*.*)|*.*|"
END

AboutDlgBox DIALOG 20, 32, 256, 164
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "About GSview for Windows"
Font 8, "Helv"
BEGIN
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 218, 5, 32, 14
#ifdef __WIN32__
	LTEXT "GSVIEW32.EXE", -1, 32, 8, 64, 8
#else
	LTEXT "GSVIEW.EXE", -1, 32, 8, 64, 8
#endif
	RTEXT "Version:", -1, 86, 8, 32, 8
	LTEXT "", ABOUT_VERSION, 120, 8, 96, 8
	LTEXT "A Ghostscript graphical interface", -1, 32, 16, 128, 8
	LTEXT "Copyright (C) 1993-1996, Russell Lang.  All rights reserved.", -1, 8, 28, 240, 8
	LTEXT "Portions Copyright (C) 1994, Timothy O. Theisen.  All rights reserved.", -1, 8, 36, 240, 8
	LTEXT "This program is distributed with NO WARRANTY OF ANY KIND.", -1, 7, 48, 240, 8
	LTEXT "No author or distributor accepts any responsibility for the", -1, 7, 56, 240, 8
	LTEXT "consequences of using it, or for whether it serves any particular", -1, 7, 64, 240, 8
	LTEXT "purpose or works at all, unless he or she says so in writing.  Refer", -1, 7, 72, 240, 8
	LTEXT "to the GSview Free Public Licence (the 'Licence') for full details.", -1, 7, 84, 240, 8
	LTEXT "Every copy of GSview must include a copy of the Licence, normally", -1, 7, 92, 240, 8
	LTEXT "in a plain ASCII text file named LICENCE.  The Licence grants you", -1, 7, 100, 240, 8
	LTEXT "the right to copy, modify and redistribute GSview, but only under", -1, 7, 108, 240, 8
	LTEXT "certain conditions described in the Licence.  Among other things,", -1, 7, 116, 240, 8
	LTEXT "the Licence requires that the copyright notice and this notice be", -1, 7, 124, 240, 8
	LTEXT "preserved on all copies.", -1, 7, 132, 240, 8
	LTEXT "Author: Russell Lang  (rjl@aladdin.com)", -1, 8, 146, 240, 8
	ICON ID_GSVIEW, ABOUT_ICON, 8, 8, 0, 0
END

InputDlgBox DIALOG 48, 32, 192, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Input"
Font 8, "Helv"
BEGIN
	LTEXT "", ID_PROMPT, 6, 6, 180, 10
	CONTROL "", ID_ANSWER, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD, 6, 18, 180, 12
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 23, 36, 32, 14
	CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 83, 36, 32, 14
	CONTROL "&Help", ID_HELP, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 143, 36, 32, 14
END

InfoDlgBox DIALOG 20, 32, 175, 107
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Info"
Font 8, "Helv"
BEGIN
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 136, 89, 32, 14
	RTEXT "File:", -1, 24, 8, 32, 8
	LTEXT "", INFO_FILE, 60, 8, 110, 8
	RTEXT "Type:", -1, 24, 16, 32, 8
	LTEXT "", INFO_TYPE, 60, 16, 110, 8
	RTEXT "Title:", -1, 24, 24, 32, 8
	LTEXT "", INFO_TITLE, 60, 24, 110, 8
	RTEXT "Date:", -1, 24, 32, 32, 8
	LTEXT "", INFO_DATE, 60, 32, 110, 8
	RTEXT "BoundingBox:", -1, 8, 40, 48, 8
	LTEXT "", INFO_BBOX, 60, 40, 80, 8
	RTEXT "Orientation:", -1, 8, 48, 48, 8
	LTEXT "", INFO_ORIENT, 60, 48, 60, 8
	RTEXT "Default Media:", -1, 8, 64, 48, 8
	LTEXT "", INFO_DEFMEDIA, 60, 64, 60, 8
	RTEXT "Page Order:", -1, 8, 56, 48, 8
	LTEXT "", INFO_ORDER, 60, 56, 60, 8
	RTEXT "Pages:", -1, 8, 72, 48, 8
	LTEXT "", INFO_NUMPAGES, 60, 72, 60, 8
	RTEXT "Page:", -1, 8, 80, 48, 8
	LTEXT "", INFO_PAGE, 60, 80, 60, 8
	RTEXT "Bitmap:", -1, 8, 92, 48, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "", INFO_BITMAP, 60, 92, 60, 8
	ICON ID_GSVIEW, INFO_ICON, 8, 8, 0, 0
END

SoundDlgBox DIALOG 16, 40, 204, 94
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Sounds"
Font 8, "Helv"
BEGIN
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 164, 12, 32, 14
	CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 164, 32, 32, 14
	CONTROL "&Test", SOUND_TEST, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 164, 52, 32, 14
	CONTROL "&Help", ID_HELP, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 164, 72, 32, 14
	LTEXT "Event:", -1, 8, 4, 32, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", SOUND_EVENT, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 16, 70, 64
	LTEXT "Sound:", -1, 90, 4, 33, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", SOUND_FILE, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 16, 64, 64
	LTEXT "", SOUND_PATH, 90, 83, 70, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

SpoolDlgBox DIALOG 32, 40, 110, 63
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Select Printer Port"
Font 8, "Helv"
BEGIN
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 72, 14, 32, 14
	CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 72, 36, 32, 14
	CONTROL "", SPOOL_PORT, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 8, 56, 50
END

QueueDlgBox DIALOG 32, 40, 200, 63
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Select Printer"
Font 8, "Helv"
BEGIN
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 160, 14, 32, 14
	CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 160, 36, 32, 14
	CONTROL "", SPOOL_PORT, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 8, 140, 50
END

CancelDlgBox DIALOG 32, 40, 120, 48
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_3DLOOK
Font 8, "Helv"
BEGIN
	CTEXT "Printing", -1, 8, 4, 104, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "", CANCEL_PCDONE, 8, 16, 104, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 44, 30, 32, 14
END

PageDlgBox DIALOG 64, 32, 80, 142
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Select Page"
Font 8, "Helv"
BEGIN
	CONTROL "", PAGE_LIST, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 8, 28, 128
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 8, 32, 14
	CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 32, 32, 14
	CONTROL "&All", PAGE_ALL, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 64, 32, 14
	CONTROL "O&dd", PAGE_ODD, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 88, 32, 14
	CONTROL "&Even", PAGE_EVEN, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 112, 32, 14
END

PageMultiDlgBox DIALOG 64, 32, 80, 142
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Select Pages"
Font 8, "Helv"
BEGIN
	CONTROL "", PAGE_LIST, "LISTBOX", LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 8, 28, 128
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 8, 32, 14
	CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 32, 32, 14
	CONTROL "&All", PAGE_ALL, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 64, 32, 14
	CONTROL "O&dd", PAGE_ODD, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 88, 32, 14
	CONTROL "&Even", PAGE_EVEN, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 44, 112, 32, 14
END

#ifdef OLD
DeviceDlgBox DIALOG 16, 40, 212, 94
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Select Device"
Font 8, "Helv"
BEGIN
	CONTROL "&Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 164, 12, 40, 14
	CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 164, 32, 40, 14
	CONTROL "&Properties", DEVICE_PROP, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 164, 52, 40, 14
	CONTROL "&Help", ID_HELP, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 164, 72, 40, 14
	LTEXT "Device:", -1, 8, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", DEVICE_NAME, "COMBOBOX", CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 16, 70, 70
	LTEXT "Resolution:", DEVICE_RESTEXT, 90, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", DEVICE_RES, "COMBOBOX", CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 90, 16, 64, 70
END
#else
DeviceDlgBox DIALOG 16, 40, 270, 161
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Printer Setup"
FONT 8, "Helv"
BEGIN
 DEFPUSHBUTTON "&Ok", IDOK, 216, 8, 44, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "&Cancel", IDCANCEL, 216, 28, 44, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "&Properties", DEVICE_PROP, 216, 48, 44, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "&Help", ID_HELP, 216, 68, 44, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&All Pages", PAGE_ALL, 216, 99, 44, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "O&dd Pages", PAGE_ODD, 216, 119, 44, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Even Pages", PAGE_EVEN, 216, 139, 44, 14, WS_GROUP | WS_TABSTOP
 LTEXT "Device:", -1, 8, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX DEVICE_NAME, 8, 16, 70, 70, CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "Resolution:", DEVICE_RESTEXT, 90, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX DEVICE_RES, 90, 16, 64, 70, CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 LTEXT "Queue:", SPOOL_PORTTEXT, 8, 102, 48, 8
 LISTBOX SPOOL_PORT, 8, 114, 145, 40, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "Pages:", PAGE_LISTTEXT, 168, 4, 48, 8
 LISTBOX PAGE_LIST, 168, 17, 34, 139, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 CHECKBOX "Print to File", SPOOL_TOFILE, 91, 99, 60, 8
END
#endif


PropDlgBox DIALOG 16, 40, 204, 118
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Properties"
FONT 8, "Helv"
BEGIN
 DEFPUSHBUTTON "&Ok", IDOK, 164, 12, 32, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "&Cancel", IDCANCEL, 164, 32, 32, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "&Help", ID_HELP, 164, 52, 32, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Edit", PROP_EDIT, 164, 72, 32, 14
 PUSHBUTTON "&New", PROP_NEW, 164, 92, 32, 14
 LTEXT "Property:", -1, 8, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX PROP_NAME, 8, 16, 70, 70, CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "Value:", -1, 90, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX PROP_VALUE, 90, 16, 64, 70, CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 LTEXT "Page Offset (pts)", -1, 8, 100, 56, 8
 LTEXT "X:", -1, 76, 100, 8, 8
 EDITTEXT PROP_XOFFSET, 88, 98, 16, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Y:", -1, 114, 100, 8, 8
 EDITTEXT PROP_YOFFSET, 126, 98, 16, 12
END


EditPropDlgBox DIALOG 6, 15, 194, 134
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Properties"
FONT 8, "Helv"
{
 GROUPBOX "Property Type:", -1, 6, 7, 118, 24, BS_GROUPBOX | WS_GROUP
 CONTROL "Number", EDITPROP_NUMBER, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 12, 16, 44, 12
 CONTROL "String", EDITPROP_STRING, "BUTTON", BS_AUTORADIOBUTTON, 70, 16, 44, 12
 LTEXT "Name: e.g.  BitsPerPixel", -1, 8, 42, 103, 8, WS_GROUP
 EDITTEXT EDITPROP_NAME, 8, 54, 176, 12, WS_BORDER | WS_TABSTOP
 LTEXT "Values:  e.g.  1,3,8,16,24", -1, 8, 75, 149, 8
 EDITTEXT EDITPROP_VALUE, 8, 87, 176, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 12, 109, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 72, 109, 50, 14
 PUSHBUTTON "Help", ID_HELP, 132, 109, 50, 14
 PUSHBUTTON "Delete", EDITPROP_DEL, 151, 14, 32, 14
}

BoundingBoxDlgBox DIALOG 12, 24, 120, 15
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_EX_TOPMOST | DS_3DLOOK
CAPTION "BoundingBox"
Font 8, "Helv"
BEGIN
	CTEXT "", BB_PROMPT, 4, 4, 112, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

InstallDlgBox DIALOG 48, 32, 244, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Configure Ghostscript"
FONT 8, "Helv"
BEGIN
 LTEXT "Ghostscript EXE:", -1, 6, 10, 180, 10
 EDITTEXT INSTALL_EXE, 6, 20, 180, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 LTEXT "Ghostscript Include Path:", -1, 6, 40, 180, 10
 EDITTEXT INSTALL_INCLUDE, 6, 50, 180, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 LTEXT "Ghostscript Options:", -1, 8, 70, 180, 10
 EDITTEXT INSTALL_OTHER, 6, 80, 180, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 DEFPUSHBUTTON "&Ok", IDOK, 200, 10, 32, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "&Cancel", IDCANCEL, 200, 32, 32, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "&Defaults", ID_DEFAULT, 200, 54, 32, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Help", ID_HELP, 200, 76, 32, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
END

