/* Copyright (C) 1993, 1994, 1995, Russell Lang.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/
/* os2setup.rc */
/* Resources for OS/2 installation program */

#include <os2.h>
#include "gvcver.h"
#include "setup.h"

#ifndef ES_ANY	/* emx08g doesn't define this */
#define ES_ANY 0x00000000L
#endif

POINTER ID_GSVIEW "binary/gvpm1.ico"
POINTER ID_GHOSTSCRIPT "binary/gsos2.ico"

DLGTEMPLATE IDD_INTRO 
BEGIN
    DIALOG "GSview Install - Introduction", IDD_INTRO, 18, 16, 240, 96, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
	DEFPUSHBUTTON "OK", DID_OK, 6, 4, 51, 14
	PUSHBUTTON "Cancel", DID_CANCEL, 70, 4, 51, 14
	CONTROL "Installation program for:", IDD_INTRO_T1, 6, 80, 200, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GSVIEW_PRODUCT, -1, 16, 68, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GSVIEW_VERSION, -1, 58, 68, 60, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GS_PRODUCT, -1, 16, 54, 90, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GS_VERSION, -1, 110, 54, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL "Before continuing installation, make sure you have the 3 disks listed in README.TXT.", IDD_INTRO_T2, 6, 28, 212, 20, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    END

END


DLGTEMPLATE IDD_COPYRIGHT 
BEGIN
	DIALOG "GSview Install - Copyright", IDD_COPYRIGHT, 12, 12, 300, 124, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 6, 4, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 70, 4, 51, 14
		CONTROL "GSview and Aladdin Ghostscript are separate programs.", IDD_COPYRIGHT_T1, 8, 112, 238, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "They are owned by separate entities.", -1, 8, 102, 238, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		ICON ID_GSVIEW, ID_GSVIEW, 8, 72, 20, 16, WS_GROUP
		CONTROL "GSview:", IDD_COPYRIGHT_T2, 40, 92, 200, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL GSVIEW_COPYRIGHT1, -1, 56, 84, 240, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL GSVIEW_COPYRIGHT2, -1, 56, 76, 240, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL GSVIEW_COPYRIGHT3, -1, 56, 68, 240, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		ICON ID_GHOSTSCRIPT, ID_GHOSTSCRIPT, 8, 32, 20, 16, WS_GROUP
		CONTROL "Aladdin Ghostscript:", IDD_COPYRIGHT_T3, 40, 48, 200, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL GS_COPYRIGHT1, -1, 56, 40, 240, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL GS_COPYRIGHT2, -1, 56, 32, 240, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL GS_COPYRIGHT3, -1, 56, 24, 240, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE IDD_DIR 
BEGIN
	DIALOG "GSview Install - Directory", IDD_DIR, 12, 12, 300, 114, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 6, 4, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 70, 4, 51, 14
		CONTROL "The base directory for GSview and Ghostscript is:", -1, 12, 100, 267, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", ID_ANSWER, 12, 88, 264, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Within the base directory, GSview will be installed into the subdirectory:", -1, 12, 68, 267, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL GSVIEW_BASEDIR,  , -1, 20, 60, 267, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Ghostscript will be installed into the subdirectory:" , -1, 12, 46, 267, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL GS_BASEDIR, -1, 20, 38, 267, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Change the base directory if you wish.", -1, 12, 24, 267, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE IDD_MKDIR
BEGIN
	DIALOG "GSview Install - Make Directory", IDD_MKDIR, 12, 12, 200, 90, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Yes", MBID_YES, 6, 4, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 70, 4, 51, 14
		CONTROL "The directory", -1, 12, 50, 180, 51, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "XXX", IDD_MKDIR_TEXT, 20, 36, 180, 51, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "does not exist.  Create it?", -1, 12, 24, 180, 51, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END
END


DLGTEMPLATE IDD_EAUTIL
BEGIN
	DIALOG "GSview Install", IDD_UNZIP, 12, 12, 160, 48, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Cancel", DID_CANCEL, 6, 4, 51, 14
		CONTROL "Updating Extended Attributes", IDD_EAUTIL_TEXT, 8, 25, 144, 13, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE IDD_UNZIP 
BEGIN
	DIALOG "GSview Install", IDD_UNZIP, 12, 12, 110, 48, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Cancel", DID_CANCEL, 6, 4, 51, 14
		CONTROL "Unzipping files", IDD_UNZIP_TEXT, 8, 25, 86, 13, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE IDD_FILE 
BEGIN
	DIALOG "GSview Install - Missing ZIP file", IDD_FILE, 12, 12, 279, 61, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 6, 4, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 70, 4, 51, 14
		CONTROL "Can't find ZIP file.  Insert disk with the file below.", IDD_FILE_TEXT, 9, 42, 267, 10, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", ID_ANSWER, 8, 26, 264, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END



DLGTEMPLATE IDD_CONFIG 
BEGIN
	DIALOG "GSview Install - Config", IDD_CONFIG, 12, 12, 215, 60, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 6, 4, 51, 14
		PUSHBUTTON "Don't update config.sys", DID_CANCEL, 60, 4, 121, 14
		CONTROL "Some changes will be made to your config.sys.\012Your old config.sys will be renamed config.gs.", IDD_CONFIG_TEXT, 8, 24, 198, 32, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


