/* Copyright (C) 1995, Russell Lang.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/
/* winsetup.rc */
/* Resources for MS-Windows installation program */

#include "windows.h"
#ifndef _Windows
#define _Windows
#endif
#include "gvcver.h"
#include "gvcrc.h"
#include "gvclang.h"
#include "setup.h"

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif

ID_GSVIEW ICON "binary/gvwin1.ico"

ID_GHOSTSCRIPT ICON "binary/gstext.ico"

IDD_INTRO DIALOG PRELOAD FIXED DISCARDABLE 18, 18, 168, 92
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AAINSTALLINTRO1
FONT 8, "Helv"
{
 PUSHBUTTON AAOK, IDOK, 8, 70, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, 56, 70, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLINTRO2 , IDD_INTRO_T1, 8, 6, 152, 8
 LTEXT AAINSTALLINTRO3 , IDD_INTRO_T2, 8, 42, 152, 16
 LTEXT GSVIEW_PRODUCT, -1, 16, 16, 32, 8
 LTEXT GS_PRODUCT, -1, 16, 26, 72, 8
 LTEXT GSVIEW_VERSION, -1, 48, 16, 60, 8
 LTEXT GS_VERSION, -1, 88, 26, 60, 8
}

IDD_COPYRIGHT DIALOG PRELOAD FIXED DISCARDABLE 18, 18, 228, 134
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AAINSTALLCOPYRIGHT1
FONT 8, "Helv"
{
 PUSHBUTTON AAOK, IDOK, 8, 112, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, 56, 112, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLCOPYRIGHT2, IDD_COPYRIGHT_T1, 6, 6, 184, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LTEXT AAINSTALLCOPYRIGHT3, -1, 6, 14, 184, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 ICON ID_GSVIEW, ID_GSVIEW, 8, 32, 18, 20
 LTEXT "GSview:", IDD_COPYRIGHT_T2, 40, 30, 176, 8
 LTEXT GSVIEW_COPYRIGHT1, -1, 48, 40, 160, 8
 LTEXT GSVIEW_COPYRIGHT2, -1, 48, 48, 160, 8
 LTEXT GSVIEW_COPYRIGHT3, -1, 48, 56, 160, 8
 ICON ID_GHOSTSCRIPT, ID_GHOSTSCRIPT, 8, 72, 18, 20
 LTEXT "Aladdin Ghostscript:", IDD_COPYRIGHT_T3, 40, 70, 176, 8
 LTEXT GS_COPYRIGHT1, -1, 48, 80, 160, 8
 LTEXT GS_COPYRIGHT2, -1, 48, 88, 174, 8
 LTEXT GS_COPYRIGHT3, -1, 48, 96, 160, 8
}

IDD_DIR DIALOG PRELOAD FIXED DISCARDABLE 18, 20, 219, 122
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AAINSTALLDIR1 
FONT 8, "Helv"
{
 PUSHBUTTON AAOK, IDOK, 7, 102, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, 55, 102, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLDIR2, IDD_DIR_TEXT, 6, 6, 206, 8
 EDITTEXT ID_ANSWER, 6, 18, 197, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 LTEXT AAINSTALLDIR3, -1, 6, 34, 206, 16
 LTEXT GSVIEW_BASEDIR, -1, 16, 53, 60, 8
 LTEXT AAINSTALLDIR4, IDC_LTEXT2, 6, 65, 206, 8
 LTEXT GS_BASEDIR, -1, 16, 75, 60, 8
 LTEXT AAINSTALLDIR5, IDC_LTEXT1, 6, 89, 206, 8
}

IDD_MKDIR DIALOG 7, 18, 149, 71
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION AAINSTALLMKDIR1
FONT 8, "Helv"
{
 DEFPUSHBUTTON AAYES, IDYES, 12, 52, 32, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 72, 52, 32, 14
 LTEXT AAINSTALLMKDIR2, -1, 8, 8, 97, 8
 LTEXT "XXXX", IDD_MKDIR_TEXT, 20, 20, 60, 8
 LTEXT AAINSTALLMKDIR3, -1, 8, 32, 133, 8
}

IDD_FILE DIALOG PRELOAD FIXED 18, 18, 179, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAINSTALLMISSING1
Font 8, "Helv"
BEGIN
	LTEXT AAINSTALLMISSING2, IDD_FILE_TEXT, 6, 6, 168, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AAOK, IDOK, 8, 40, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON AACANCEL, IDCANCEL, 56, 40, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	EDITTEXT ID_ANSWER, 8, 19, 164, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END

IDD_CONFIG DIALOG PRELOAD FIXED 18, 18, 189, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAINSTALLCONFIG1
Font 8, "Helv"
BEGIN
	PUSHBUTTON AAOK, IDOK, 8, 40, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON AAINSTALLCONFIG2, IDCANCEL, 56, 40, 100, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT AAINSTALLCONFIG3, IDD_CONFIG_TEXT, 8, 8, 173, 24, WS_CHILD | WS_VISIBLE | WS_GROUP
END


IDD_TEXTWIN DIALOG 6, 15, 308, 194
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAINSTALLUNZIP1
Font 8, "Helv"
{
 DEFPUSHBUTTON AACANCEL, IDCANCEL, 8, 174, 50, 14
 PUSHBUTTON AACOPY, TEXTWIN_COPY, 126, 174, 50, 14
 EDITTEXT TEXTWIN_MLE, 8, 8, 290, 160, ES_MULTILINE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
}


STRINGTABLE
BEGIN
	IDS_DIRNOTEXIST AADIRNOTEXIST
	IDS_MKDIRFAIL AAMKDIRFAIL
	IDS_GSVIEWBASE GSVIEW_BASEDIR
	IDS_BETAWARN AABETAWARN
	IDS_INSTALLABORT AAINSTALLABORT
	IDS_SETUPOK AAINSTALLOKWIN
	IDS_SKIPGSINSTALL AASKIPGSINSTALL
END
