/* Copyright (C) 1995, Russell Lang.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/
/* winsetup.rc */
/* Resources for MS-Windows installation program */

#include "windows.h"
#ifndef _Windows
#define _Windows
#endif
#include "gvcver.h"
#include "gvcrc.h"
#include "gvclang.h"
#include "setup.h"

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif

ID_GSVIEW ICON "binary/gvwin1.ico"

ID_GHOSTSCRIPT ICON "binary/gstext.ico"

#define CHILD_W 230
#define CHILD_H 152
#define BUTTON_Y 136
#define BUTTON_XB 68
#define BUTTON_XN 118
#define BUTTON_XC 174
#define TEXT_W 212

IDD_MAIN DIALOG 16, 16, 280, 160
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GSview Setup"
FONT 8, "MS Sans Serif"
{
 ICON ID_GSVIEW, ID_GSVIEW, 14, 10, 16, 16
 CTEXT "GSview", -1, 4, 30, 40, 8
 ICON ID_GHOSTSCRIPT, ID_GHOSTSCRIPT, 14, 98, 16, 16
 CTEXT "Ghostscript", -1, 4, 118, 40, 8
 GROUPBOX "", -1, 46, 0, 1, 154, BS_GROUPBOX
}



IDD_INTRO DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W , CHILD_H
STYLE 0x4L | WS_CHILD | WS_VISIBLE
FONT 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB , BUTTON_Y , 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN , BUTTON_Y , 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC , BUTTON_Y , 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLINTRO1, -1, 8, 4, TEXT_W , 8
 LTEXT GSVIEW_PRODUCT, -1, 16, 16, TEXT_W , 8
 LTEXT GS_PRODUCT, -1, 16, 26, TEXT_W , 8
 LTEXT GSVIEW_VERSION, -1, 48, 16, TEXT_W , 8
 LTEXT "", IDD_INTRO_T3, 88, 26, TEXT_W , 8
 LTEXT AAINSTALLINTRO2, IDD_INTRO_T1, 8, 52, TEXT_W , 16
 LTEXT AAINSTALLINTRO3, IDD_INTRO_T2, 8, 80, TEXT_W , 16
}

IDD_COPYRIGHT DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | 0x4L
FONT 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLCOPYRIGHT1, -1, 6, 4, TEXT_W, 8, WS_CHILD | WS_VISIBLE
 LTEXT AAINSTALLCOPYRIGHT2, IDD_COPYRIGHT_T1, 6, 20, TEXT_W, 8, WS_CHILD | WS_VISIBLE
 LTEXT AAINSTALLCOPYRIGHT3, -1, 6, 28, TEXT_W, 8, WS_CHILD | WS_VISIBLE
 LTEXT "GSview:", IDD_COPYRIGHT_T2, 8, 46, TEXT_W, 8
 LTEXT GSVIEW_COPYRIGHT1, -1, 16, 56, TEXT_W, 8
 LTEXT GSVIEW_COPYRIGHT2, -1, 16, 64, TEXT_W, 8
 LTEXT GSVIEW_COPYRIGHT3, -1, 16, 72, TEXT_W, 8
 LTEXT "Aladdin Ghostscript:", IDD_COPYRIGHT_T3, 8, 88, TEXT_W, 8
 LTEXT GS_COPYRIGHT1, -1, 16, 98, TEXT_W, 8
 LTEXT GS_COPYRIGHT2, -1, 16, 106, TEXT_W, 8
 LTEXT GS_COPYRIGHT3, -1, 16, 114, TEXT_W, 8
}

IDD_GSVER DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | 0x4L 
FONT 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 AUTOCHECKBOX AAINSTALLGSVER2, PARTIAL_GSVIEW, 9, 20, 92, 8, WS_TABSTOP
 AUTOCHECKBOX AAINSTALLGSVER3, PARTIAL_GS, 9, 40, 92, 8, WS_TABSTOP
 EDITTEXT IDD_GSVER_TEXT, 8, 84, 40, 12, WS_TABSTOP | WS_BORDER
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLGSVER1, -1, 6, 4, TEXT_W, 8
 LTEXT AAINSTALLGSVER4, -1, 6, 72, TEXT_W, 8
 SCROLLBAR IDD_GSVER_SCROLL, 48, 84, 7, 12, SBS_VERT
}

IDD_DIR DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | 0x4L
FONT 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 EDITTEXT ID_ANSWER, 6, 28, 197, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLDIR1, -1, 6, 6, TEXT_W, 8
 LTEXT AAINSTALLDIR2, -1, 6, 52, TEXT_W, 16
 LTEXT GSVIEW_BASEDIR, -1, 16, 60, 100, 8
 LTEXT AAINSTALLDIR3, -1, 6, 72, TEXT_W, 8
 LTEXT "XXXXX", IDD_DIR_GSVER, 16, 82, 100, 8
}

IDD_MKDIR DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | 0x4L
FONT 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLMKDIR1, -1, 8, 8, TEXT_W, 8
 LTEXT "XXXX", IDD_MKDIR_TEXT, 20, 24, 160, 8
 LTEXT AAINSTALLMKDIR2, -1, 8, 40, TEXT_W, 8
}


IDD_CONFIG DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | 0x4L
Font 8, "Helv"
BEGIN
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 AUTOCHECKBOX AAINSTALLCONFIG4, IDM_AUTOEXECBAT, 9, 80, TEXT_W, 8, WS_TABSTOP
 AUTOCHECKBOX AAINSTALLCONFIG5, IDM_AUTOEXECBAK, 9, 100, TEXT_W, 8, WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLCONFIG1, -1, 8, 8, TEXT_W, 16, WS_CHILD | WS_VISIBLE
 LTEXT AAINSTALLCONFIG2, -1, 8, 32, TEXT_W, 8, WS_CHILD | WS_VISIBLE
 LTEXT AAINSTALLCONFIG3, -1, 8, 48, TEXT_W, 24, WS_CHILD | WS_VISIBLE
END

IDD_FINISH DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W , CHILD_H
STYLE 0x4L | WS_CHILD | WS_VISIBLE
FONT 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB , BUTTON_Y , 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AAFINISHGT, IDNEXT, BUTTON_XN , BUTTON_Y , 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC , BUTTON_Y , 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 AUTOCHECKBOX AAPROGMANGROUP2, IDM_PROGMAN1, 17, 28, TEXT_W , 8, WS_TABSTOP
 EDITTEXT IDM_PROGMAN2, 64, 44, 128, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT AAPROGMANGROUP1, -1, 8, 8, TEXT_W , 16, WS_CHILD | WS_VISIBLE
 LTEXT AAPROGMANGROUP3, -1, 16, 46, 48, 8, WS_CHILD | WS_VISIBLE
 LTEXT AAINSTALLFINISH, -1, 8, 80, TEXT_W , 24, WS_CHILD | WS_VISIBLE
}

IDD_TEXTWIN DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | 0x4L
Font 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACOPY, TEXTWIN_COPY, 4, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 EDITTEXT TEXTWIN_MLE, 4, 10, 222, 120, ES_MULTILINE | WS_BORDER | WS_VSCROLL | WS_HSCROLL
 LTEXT AAINSTALLUNZIP1, -1, 8, 0, TEXT_W, 8, WS_CHILD | WS_VISIBLE
}

IDD_DONE DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | 0x4L
Font 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AAEXIT, IDNEXT, BUTTON_XN, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED
 LTEXT AAINSTALLOKWIN, -1, 8, 8, TEXT_W, 16, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_DONE_GROUP, 8, 32, TEXT_W, 16, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_DONE_BAK, 8, 56, TEXT_W, 24, WS_CHILD | WS_VISIBLE
}

IDD_FAILED DIALOG PRELOAD FIXED DISCARDABLE 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | 0x4L
Font 8, "Helv"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AAEXIT, IDNEXT, BUTTON_XN, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED
 LTEXT AAINSTALLFAILED, -1, 8, 8, TEXT_W, 24, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_FAILED_REASON, 8, 40, TEXT_W, 24, WS_CHILD | WS_VISIBLE
}


IDD_FILE DIALOG PRELOAD FIXED 18, 18, 179, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAINSTALLMISSING1
Font 8, "Helv"
BEGIN
	LTEXT AAINSTALLMISSING2, IDD_FILE_TEXT, 6, 6, 168, 10, WS_CHILD | WS_VISIBLE
	PUSHBUTTON AAOK, IDOK, 8, 40, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON AACANCEL, IDCANCEL, 56, 40, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	EDITTEXT ID_ANSWER, 8, 19, 164, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END


STRINGTABLE
BEGIN
	IDS_DIRNOTEXIST AADIRNOTEXIST
	IDS_MKDIRFAIL AAMKDIRFAIL
	IDS_GSVIEWBASE GSVIEW_BASEDIR
	IDS_BETAWARN AABETAWARN
	IDS_SETUPOK AAINSTALLOKWIN
	IDS_PROGMANGROUP4 AAPROGMANGROUP4
	IDS_PROGMANGROUP5 AAPROGMANGROUP5
	IDS_DONEBAK AADONEBAK
END
